/* .header {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 99;
}
 */

.hd_box {
  background-color: rgba(255, 255, 255, 0.85);
  // padding: 15px 0 17px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.4);
  min-width: 1000px;
  z-index: 99;
  transition: all 0.3s ease;
  &.hidden {
    bottom: -115px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 63px;
  }
  &_logo {
    a {
      display: block;
      line-height: 1;
    }
  }
  &_nav {
    > ul {
      &:nth-of-type(1) {
        text-align: right;
        li {
          display: inline-block;
          &:not(:last-child) {
            margin-left: 50px;
          }
          a {
            font-size: rem(14);
            line-height: 1;
            color: #004788;
            position: relative;
            display: block;
            transition-duration: 0.3s;
            transition-property: color;
            transform: perspective(1px) translateZ(0);
            &:before {
              content: "";
              position: absolute;
              z-index: -1;
              width: 100%;
              height: 2px;
              bottom: -8px;
              left: 0;
              right: 0;
              background: #004788;
              transform: scaleX(0);
              transform-origin: 50%;
              transition-property: -webkit-transform;
              transition-property: transform;
              transition-property: transform, -webkit-transform, -moz-transform;
              transition-duration: 0.3s;
              transition-timing-function: ease-out;
            }
            &:hover {
              &:before{
                transform: scaleX(1);
              }
            }
          }
        }
      }
      &:nth-of-type(2) {
        position: absolute;
        // left: 23.4%;
        left: 0;
        top: -47px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 0 0 30px;
        height: 47px;
        transform: translateZ(0);
        &::after {
          position: absolute;
          content: "";
          width: 1000%;
          height: 100%;
          background-color: rgba(0,71,136,0.85);
          z-index: -1;
          transform: skewX(-20deg);
          left: 0;
          top: 0;
        }
        li {
          &:not(:last-child) {
            margin-right: 20px;
          }
          a {
            font-size: rem(14);
            line-height: 1;
            color: #fff;
            position: relative;
            display: block;
            transition-duration: 0.3s;
            transition-property: color;
            transform: perspective(1px) translateZ(0);
            &:before {
              content: "";
              position: absolute;
              z-index: -1;
              width: 100%;
              height: 2px;
              bottom: -8px;
              left: 0;
              right: 0;
              background: #fff;
              transform: scaleX(0);
              transform-origin: 50%;
              transition-property: -webkit-transform;
              transition-property: transform;
              transition-property: transform, -webkit-transform, -moz-transform;
              transition-duration: 0.3s;
              transition-timing-function: ease-out;
            }
            &:hover {
              &:before{
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }
}

.hd_side {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 165px;
  margin: auto;
  pointer-events: none;
  z-index: 30;
  &_scroll {
    font-size: rem(10);
    font-weight: bold;
    position: absolute;
    top: 45px;
    display: block;
    left: 50px;
    width: 20px;
    height: 100%;
    transition: color .4s;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 4px;
    color: #fff;
    z-index: 12;
    &:before {
      content: "";
      background-color: #fff;
      position: absolute;
      top: -35px;
      left: -55px;
      width: 1px;
      height: 85px;
      transition: background .4s;
      transform: translateX(-100%) rotate(-90deg);
    }
  }
  &_bar {
    position: absolute;
    top: 0;
    right: 60px;
    width: 2px;
    height: 100%;
    overflow: hidden;
    pointer-events: visible;
    background: #004789;
    z-index: 12;
    .current {
      text-indent: -99969px;
      height: 30px;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      -webkit-transition: background .4s;
      transition: background .4s;
      background: #fff;
    }
  }
}