header {
  position: relative;
  z-index: 100;
  .hd_box {
    background-color: rgba(255, 255, 255, 0.85);
    padding: vw(30);
    width: 100%;
    box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
    z-index: 99;
    transition: all 0.3s ease;
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
      .row {
        padding: 0;
      }
    }
    &.fixed {
      position: fixed;
      left: 0;
      top: 0;
      transform: translate3d(0, 0, 0);
      z-index: 99;
      width: 100%;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_logo {
      a {
        display: block;
        line-height: 1;
        img {
          width: vw(350);
          height: vw(40);
        }
      }
    }
    &_nav {
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      z-index: 99;
      visibility: hidden;
      backface-visibility: hidden;
      opacity: 0;
      transition: all 0.35s linear;
      overflow-y: scroll;
      &.open {
        opacity: 1;
        visibility: visible;
      }
      ul {
        li {
          text-align: center;
          padding: vw(20) 0;
          border-bottom: 1px dashed #fff;
          background: rgba(0,71,136,0.85);
          a {
            font-size: vw(45);
            line-height: 1.5;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            display: inline-block;
            position: relative;
            transform: perspective(1px) translateZ(0);
            span {
              display: block;
              font-size: vw(28);
            }
          }
          &:nth-of-type(-n+4) {
            background: rgba(#fff,0.9);
            border-bottom: 1px dashed rgba(0,71,136,0.85);
            a {
              color: #004788;
            }
          }
        }
      }
    }
    .humberger {
      width: vw(77);
      height: vw(60);
      position: relative;
      transform: rotate(0deg);
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: vw(6);
        width: vw(77);
        background: #004788;
        border-radius: vw(9);
        opacity: 1;
        right: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }
      &.open {
        span {
          &:nth-child(1) {
            top: vw(26);
            transform: rotate(135deg);
          }
          &:nth-child(2) {
            opacity: 0;
            right: vw(60);
          }
          &:nth-child(3) {
            bottom: vw(27);
            transform: rotate(-135deg);
          }
        }
      }
    }
  }

  .hd_side {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: vw(200);
    margin: auto;
    pointer-events: none;
    z-index: 9;
    &_scroll {
      font-size: vw(20);
      font-weight: bold;
      position: absolute;
      top: vw(68);
      display: block;
      left: vw(1);
      width: vw(20);
      height: 100%;
      transition: color .4s;
      transform: translateX(-100%) rotate(-90deg);
      transform-origin: right top;
      text-align: left;
      white-space: nowrap;
      letter-spacing: vw(4);
      color: #fff;
      z-index: 12;
      &:before {
        content: "";
        background-color: #fff;
        position: absolute;
        top: vw(-37);
        left: vw(-65);
        width: 1px;
        height: vw(105);
        transition: background .4s;
        transform: translateX(-100%) rotate(-90deg);
      }
    }
    &_bar {
      position: absolute;
      top: 0;
      right: vw(15);
      width: 2px;
      height: 100%;
      overflow: hidden;
      pointer-events: visible;
      background: #004789;
      z-index: 12;
      .current {
        text-indent: -99969px;
        height: vw(30);
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-transition: background .4s;
        transition: background .4s;
        background: #fff;
      }
    }
  }
}