@charset "utf-8";
// ===================================================================
//  common.css
// ===================================================================

@import "_mixin/mixin";

//----------------------------------------------------
//  共通
//----------------------------------------------------
html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000000;
  /* font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif; */
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: rem(13);
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: #000000;
  text-decoration: none;
/*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

a:hover {
  text-decoration: none;
}
a:hover,
a:hover img,
.img_hover:hover {
/*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

img {
  vertical-align: bottom;
}
div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav , picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}
figure,picture {
  font-size: 0;
}
picture {
  display: block;
}
* {
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
}
//---------------------------------------------------------------------------
//---------------------------------------------------------------------------
@include min-screen() {
  @import "./_common_pc.scss";
  @import "./_header_pc.scss";
}

@include max-screen() {
  @import "./_common_sp.scss";
  @import "./_header_sp.scss";
}