@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.st_vision_01 {
  .wrap {
    position: relative;
    height: 100%;
  }
  h2 {
    font-size: rem(100);
    font-family: 'YuMincho', serif;
    color: #fff;
    line-height: 1;
    position: absolute;
    margin-top: -65px;
    top: 50%;
    left: -100px;
    z-index: -1;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &.active {
      opacity: 1;
      left: 30px;
    }
  }
  article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 424px;
    height: 424px;
    padding-top: 85px;
    margin-left: -300px;
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
    &:after {
      content: "";
      width: 300px;
      height: 300px;
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      top: 62px;
      left: 62px;
      transform: rotate(45deg);
      z-index: -1;
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    }
    span {
      font-size: rem(18);
      line-height: 1;
      color: #fff;
      background-color: #004789;
      padding: 10px 26px;
      display: inline-block;
      margin-bottom: 30px;
    }
    h3 {
      font-size: rem(36);
      color: #444444;
      line-height: 55px;
      display: block;
      font-style: normal;
      font-weight: bold;
      font-family: 'YuMincho', serif;
    }
    &.active {
      opacity: 1;
      margin-left: 0;
    }
  }
}

.st_vision_02 {
  .wrap {
    position: relative;
    height: 100%;
  }
  h2 {
    font-size: rem(100);
    font-family: 'YuMincho', serif;
    color: #fff;
    line-height: 1;
    position: absolute;
    margin-top: -70px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &.active {
      opacity: 1;
      right: 115px;
    }
  }
  article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 424px;
    height: 424px;
    padding-top: 85px;
    margin-left: 200px;
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
    &:after {
      content: "";
      width: 300px;
      height: 300px;
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      top: 62px;
      right: 62px;
      transform: rotate(45deg) translate(0, 0);
      z-index: -1;
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    }
    span {
      font-size: rem(18);
      line-height: 1;
      color: #fff;
      background-color: #004789;
      padding: 10px 26px;
      display: inline-block;
      margin-bottom: 30px;
    }
    h3 {
      font-size: rem(36);
      color: #444444;
      line-height: 55px;
      display: block;
      font-style: normal;
      font-weight: bold;
      font-family: 'YuMincho', serif;
    }
    &.active {
      opacity: 1;
      margin-left: 0;
    }
  }
}

.st_vision_03 {
  .wrap {
    position: relative;
    height: 100%;
  }
  h2 {
    font-size: rem(100);
    font-family: 'YuMincho', serif;
    color: #fff;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: -1;
    margin-top: -220px;
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &.active {
      opacity: 1;
      left: 70px;
    }
  }
  article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 750px;
    height: 750px;
    padding-top: 85px;
    margin-left: -200px;
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
    &:after {
      content: "";
      width: 530px;
      height: 530px;
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      top: 110px;
      left: 110px;
      transform: rotate(45deg) translate(0, 0);
      z-index: -1;
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    }
    span {
      font-size: rem(18);
      line-height: 1;
      color: #fff;
      background-color: #004789;
      padding: 10px 26px;
      display: inline-block;
      margin-bottom: 30px;
    }
    figure{
      opacity: 0;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 1s;
      transform: translate3d(0,-50px,0);
    }
    h3 {
      font-size: rem(36);
      color: #444444;
      line-height: 55px;
      display: block;
      font-style: normal;
      font-weight: bold;
      font-family: 'YuMincho', serif;
    }
    &.active {
      opacity: 1;
      margin-left: 0;
      figure{
        opacity: 1;
        transform: translate3d(0,0,0);
      }
    }
  }
}

.gr_ttl {
  padding-top: 142px;
  .row {
    position: relative;
  }
  .ttl {
    display: flex;
    justify-content: center;
    h2 {
      overflow: hidden;
      text-align: center;
      padding: 26px 0 27px;
      font-family: 'YuMincho', serif;
      color: #004789;
      position: relative;
      z-index: 1;
      width: 968px;
      transform: skew(-20deg);
      margin: 0;
      span {
        display: block;
        font-size: rem(36);
        line-height: 1;
        opacity: 0;
        transform: skew(20deg) translate3d(0, 50px, 0);
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      }
      &:after {
        content: "";
        width: 968px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;
        transform: translateX(-100%);
        transition: all 0.5s ease-in-out 0.3s;
        opacity: 0;
      }
      &.active {
        span {
          opacity: 1;
          transform: skew(20deg) translate3d(0, 0, 0);
        }
        &:after {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

.st_what {
  .wrap {
    position: relative;
  }
  .bx_multi {
    background-color: rgba(0, 71, 137, 0.70);
    padding: 39px 0 42px;
    margin-top: 30px;
    opacity: 0;
    transform: translate3d(0,50px,0);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
    &.active{
      opacity: 1;
      transform: translate3d(0,0,0);
      .bx_multi_item{
        &:after {
          opacity:1;
          margin-left: 0;
        }
        h3{
          opacity: 1;
          margin-top: 45px;
        }
        figure{
          opacity: 1;
          transform: translate3d(0,0,0);
        }
      }
    }
    p {
      font-size: rem(16);
      line-height: 1.8;
      color: #fff;
      font-family: 'YuMincho', serif;
      margin: 0 0 35px 176px;
    }
    &_item {
      position: relative;
      display: flex;
      &:after {
        content: "";
        background: url(../images/t.png) no-repeat;
        width: 136px;
        height: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 45px 0 0 -50px;
        z-index: 0;
        opacity: 0;
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      }
      h3 {
        font-size: rem(36);
        line-height: 1;
        font-family: 'YuMincho', serif;
        color: #004789;
        padding: 27px 0 29px;
        width: 553px;
        background-color: rgba(255, 255, 255, 0.85);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0;
        z-index: 1;
        opacity: 0;
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 1s;
      }
      figure {
        text-align: center;
        width: 50%;
        opacity: 0;
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
        transform: translate3d(-50px,0,0);
        &:first-of-type {
          padding-right: 80px;
          transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
        }
        figcaption {
          font-size: rem(16);
          line-height: 24px;
          text-align: center;
          width: 165px;
          background-color: rgb(255, 255, 255);
          padding: 9px 0;
          margin: 0 auto 31px;
          span {
            display: block;
            font-size: rem(24);
            color: #004789;
          }
        }
      }
    }
  }
}

.bx_airship {
  .row {
    position: relative;
  }
  figure {
    position: absolute;
    top: 0;
    right: -100px;
  }
}