@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_vision_01 {
  padding: vw(60) 0 vw(40);
  overflow: hidden;
  .wrap {
    position: relative;
    height: 100%;
  }
  h2 {
    font-size: vw(100);
    font-family: 'YuMincho', serif;
    color: #fff;
    line-height: 1;
    position: absolute;
    margin-top: vw(-85);
    top: 50%;
    left: vw(-100);
    z-index: -1;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &.active {
      opacity: 1;
      left: vw(30);
    }
  }
  article {
    text-align: center;
    width: vw(500);
    height: vw(500);
    padding-top: vw(95);
    margin: 0 auto vw(100);
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
    &:after {
      content: "";
      width: vw(376);
      height: vw(376);
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      z-index: -1;
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    }
    span {
      font-size: vw(30);
      line-height: 1;
      color: #fff;
      background-color: #004789;
      padding: vw(10) vw(30);
      display: inline-block;
      margin-bottom: vw(30);
    }
    h3 {
      font-size: vw(40);
      color: #444444;
      line-height: vw(75);
      display: block;
      font-style: normal;
      font-weight: bold;
      font-family: 'YuMincho', serif;
    }
    &.active {
      opacity: 1;
      margin: 0 auto 0;
    }
  }
}

.st_vision_02 {
  padding: vw(60) 0 vw(40);
  overflow: hidden;
  .wrap {
    position: relative;
    height: 100%;
  }
  h2 {
    font-size: vw(100);
    font-family: 'YuMincho', serif;
    color: #fff;
    line-height: 1;
    position: absolute;
    margin-top: vw(-85);
    top: 50%;
    right: vw(-100);
    z-index: -1;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &.active {
      opacity: 1;
      right: vw(30);
    }
  }
  article {
    text-align: center;
    width: vw(500);
    height: vw(500);
    padding-top: vw(95);
    margin: 0 auto vw(100);
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
    &:after {
      content: "";
      width: vw(376);
      height: vw(376);
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      z-index: -1;
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    }
    span {
      font-size: vw(30);
      line-height: 1;
      color: #fff;
      background-color: #004789;
      padding: vw(10) vw(30);
      display: inline-block;
      margin-bottom: vw(30);
    }
    h3 {
      font-size: vw(40);
      color: #444444;
      line-height: vw(75);
      display: block;
      font-style: normal;
      font-weight: bold;
      font-family: 'YuMincho', serif;
    }
    &.active {
      opacity: 1;
      margin: 0 auto 0;
    }
  }
}


.st_vision_03 {
  padding: vw(60) 0 vw(40);
  overflow: hidden;
  .wrap {
    position: relative;
    height: 100%;
  }
  h2 {
    font-size: vw(100);
    font-family: 'YuMincho', serif;
    color: #fff;
    line-height: 1;
    position: absolute;
    margin-top: vw(-150);
    top: 50%;
    left: vw(-100);
    z-index: -1;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &.active {
      opacity: 1;
      left: vw(30);
    }
  }
  article {
    text-align: center;
    width: vw(700);
    height: vw(700);
    padding-top: vw(130);
    opacity: 0;
    margin-bottom: vw(100);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
    &:after {
      content: "";
      width: vw(500);
      height: vw(500);
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      z-index: -1;
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    }
    span {
      font-size: vw(30);
      line-height: 1;
      color: #fff;
      background-color: #004789;
      padding: vw(10) vw(30);
      display: inline-block;
      margin-bottom: vw(10);
    }
    figure {
      opacity: 0;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 1s;
      transform: translate3d(0, -50px, 0);
      margin-bottom: vw(10);
      img {
        width: vw(300);
        height: auto;
      }
    }
    h3 {
      font-size: vw(40);
      color: #444444;
      line-height: vw(60);
      display: block;
      font-style: normal;
      font-weight: bold;
      font-family: 'YuMincho', serif;
    }
    &.active {
      opacity: 1;
      margin-bottom: 0;
      figure {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.gr_ttl {
  padding: vw(100) 0 vw(40);
  overflow: hidden;
  .row {
    position: relative;
  }
  .ttl {
    display: flex;
    justify-content: center;
    h2 {
      overflow: hidden;
      text-align: center;
      padding: vw(25) 0;
      font-family: 'YuMincho', serif;
      color: #004789;
      position: relative;
      z-index: 1;
      width: 100%;
      transform: skew(-20deg);
      margin: 0;
      span {
        display: block;
        font-size: vw(40);
        line-height: 1;
        opacity: 0;
        transform: skew(20deg) translate3d(0, 50px, 0);
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      }
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out 0.3s;
        opacity: 0;
      }
      &.active {
        span {
          opacity: 1;
          transform: skew(20deg) translate3d(0, 0, 0);
        }
        &:after {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

.st_what {
  overflow: hidden;
  .wrap {
    position: relative;
  }
  .bx_multi {
    background-color: rgba(0, 71, 137, 0.70);
    padding: vw(40);
    margin-top: vw(40);
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      .bx_multi_item {
        &:after {
          opacity: 1;
          margin-top: vw(110);
        }
        h3 {
          opacity: 1;
          margin-top: vw(105);
        }
        figure {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
    p {
      font-size: vw(28);
      line-height: 1.5;
      color: #fff;
      font-family: 'YuMincho', serif;
      margin: 0 0 vw(40) 0;
    }
    &_item {
      &:after {
        content: "";
        background: url(../images/t_sp.png) no-repeat;
        background-size: contain;
        height: vw(136);
        width: vw(35);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 0 0 0;
        z-index: 0;
        opacity: 0;
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      }
      h3 {
        font-size: vw(40);
        line-height: 1;
        font-family: 'YuMincho', serif;
        color: #004789;
        padding: vw(28) 0;
        width: vw(600);
        background-color: rgba(255, 255, 255, 0.85);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0;
        /* margin-top: vw(105);*/
        z-index: 1;
        opacity: 0;
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 1s;
      }
      figure {
        text-align: center;
        width: 100%;
        opacity: 0;
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
        transform: translate3d(0, -50px, 0);
        img {
          width: vw(217);
          height: vw(330);
        }
        &:first-of-type {
          transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
          margin-bottom: vw(300);
          img {
            width: vw(331);
            height: vw(329);
          }
        }
        figcaption {
          font-size: vw(28);
          line-height: 1.5;
          text-align: center;
          width: vw(350);
          background-color: rgb(255, 255, 255);
          padding: vw(12) 0;
          margin: 0 auto vw(31);
          span {
            display: block;
            font-size: rem(24);
            color: #004789;
          }
        }
      }
    }
  }
}

.bx_airship {
  .row {
    position: relative;
  }
  figure {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    img {
      width: 100%;
      height: auto;
    }
  }
}