@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
section {
  width: 100%;
  height: 100vh;
}

.st_event {
  .row {
    position: relative;
  }
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 108px;
    right: 96px;
    padding: 84px 54px 92px 59px;
    z-index: 9;
    width: 565px;
    h3 {
      font-size: rem(36);
      line-height: 29px;
      font-family: 'YuMincho', serif;
      color: #004789;
      margin-bottom: 28px;
    }
    p {
      font-size: rem(14);
      line-height: 1.8;
      +p {
        margin-top: 23px;
      }
    }
    figure {
      position: absolute;
      bottom: -157px;
      right: -96px;
      z-index: 10;
    }
  }
}

.bx_fish {
  .row {
    position: relative;
  }
  figure {
    position: absolute;
    z-index: 1;
    &:nth-of-type(1) {
      top: 191px;
      left: -62px;
      z-index: 3;
    }
    &:nth-of-type(2) {
      top: 315px;
      left: 21px;
      z-index: 2;
    }
    &:nth-of-type(3) {
      top: 469px;
      left: 70px;
      z-index: 1;
    }
  }
}