@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

/* section {
  width: 100%;
  height: 100vh;
  position: relative;
} */

.messages {
  padding: vw(40) 0;
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    padding: vw(60);
    z-index: 9;
    h3 {
      font-size: vw(40);
      line-height: 1.5;
      font-family: 'YuMincho', serif;
      margin-bottom: vw(30);
    }
    p {
      font-size: vw(24);
      line-height: 1.5;
      font-family: 'Hiragino Mincho Pro', serif;
      +p {
        margin-top: vw(30);
      }
    }
  }
}

.profile {
  article {
    border: vw(3) solid #004789;
    padding: vw(6);
    .bx_art {
      background-color: rgba(0, 50, 97, 0.7);
      padding: vw(40);
      em {
        font-size: vw(20);
        line-height: 1.5;
        color: #fff;
        font-style: normal;
      }
      h3 {
        font-size: vw(50);
        color: #fff;
        font-family: 'YuMincho', serif;
      }
      span {
        font-size: vw(24);
        line-height: 1.5;
        color: #fff;
        display: block;
        text-align: right;
        font-weight: bold;
        border-bottom: 1px solid #fff;
        margin-bottom: vw(30);
      }
      .main_art {
        p {
          font-size: vw(24);
          line-height: 1.5;
          color: #fff;
          +p {
            margin-top: vw(30);
          }
        }
      }
    }
  }
}

.bx_leaf {
  
  .row {
    position: relative;
  }
  figure {
    position: absolute;
    z-index: -1;
    img{
      width: 100%;
      height: auto;
    }
    &:nth-of-type(1) {
      top: vw(114);
      left: vw(-3);
    }
    &:nth-of-type(2) {
      top: vw(141);
      left: vw(99);
    }
  }
}