@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

/*  .container {
 max-width: 1200px;
 margin: 0 auto;
}  */

section {
/*    background: url(../images/bkg_s.png) no-repeat;
background-size: cover;  */
  width: 100%;
  height: 100vh;
  position: relative;
}

.messages {
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 79px 58px 52px 59px;
    z-index: 9;
    width: 622px;
    h3 {
      font-size: rem(36);
      line-height: 29px;
      font-family: 'YuMincho', serif;
      margin-bottom: 35px;
    }
    p {
      font-size: rem(14);
      line-height: 1.5;
      font-family: 'Hiragino Mincho Pro', serif;
      +p {
        margin-top: 25px;
      }
    }
  }
}

.profile {
  article {
    border: 2px solid #004789;
    padding: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: percentage(220/1440);
    width: 500px;
    .bx_art {
      background-color: rgba(0, 50, 97, 0.7);
      padding: 54px 21px 50px 24px;
      em {
        font-size: rem(12);
        line-height: 29px;
        color: #fff;
        font-style: normal;
      }
      h3 {
        font-size: rem(42);
        color: #fff;
        font-family: 'YuMincho', serif;
      }
      span {
        font-size: rem(14);
        line-height: 36px;
        color: #fff;
        display: block;
        text-align: right;
        font-weight: bold;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;
      }
      .main_art {
        p {
          font-size: rem(14);
          line-height: 1.5;
          color: #fff;
          +p {
            margin-top: 30px;
          }
        }
      }
    }
  }
}

.bx_leaf {
  .row{
    position: relative;
  }
  figure {
    position: absolute;
    z-index: 1;
    &:nth-of-type(1) {
      top: 114px;
      left: -3px;
    }
    &:nth-of-type(2) {
      top: 141px;
      left: 99px;
    }
  }
}