@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.wrap_section {
  counter-reset: article;
  section {
    &:nth-child(odd) {
      article {
        .main_art {
          background-color: rgba(0, 50, 97, 0.7);
        }
      }
    }
    &:nth-child(even) {
      article {
        .main_art {
          background-color: rgba(255, 255, 255, 0.85);
          p {
            color: #444444;
          }
        }
      }
    }
  }
}

.gr_ttl {
  padding-top: vw(100);
  .row {
    position: relative;
  }
  .ttl {
    display: flex;
    justify-content: center;
    h2 {
      overflow: hidden;
      text-align: center;
      padding: vw(25) 0;
      font-family: 'YuMincho', serif;
      color: #004789;
      position: relative;
      z-index: 1;
      width: 100%;
      transform: skew(-20deg);
      margin: 0;
      span {
        display: block;
        font-size: vw(40);
        line-height: 1;
        opacity: 0;
        transform: skew(20deg) translate3d(0, 50px, 0);
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      }
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out 0.3s;
        opacity: 0;
      }
      &.active {
        span {
          opacity: 1;
          transform: skew(20deg) translate3d(0, 0, 0);
        }
        &:after {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

.st_conduct_top {
  .bx_top {
    margin-top: vw(120);
    position: relative;
    &.active {
      h3 {
        opacity: 1;
        transform: translate3d(-50%, 0, 0);
      }
      .bx_top_m {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
    h3 {
      background-color: rgba(255, 255, 255, 0.85);
      width: vw(650);
      height: vw(100);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: vw(-50);
      left: 50%;
      z-index: 1;
      opacity: 0;
      transform: translate3d(-50%, -50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      img{
        width: vw(541);
        height: vw(63);
      }
    }
    &_m {
      background-color: rgba(0, 50, 97, 0.7);
      padding: vw(100) vw(40) vw(60);
      opacity: 0;
      transform: translate3d(0, -50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      width: 100%;
      margin: 0 auto;
      p {
        font-size: vw(24);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: vw(30);
        }
      }
    }
  }
}

.st_conduct_01 {
  position: relative;
  overflow: hidden;
  article {
    margin-top: vw(80);
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: vw(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: vw(140);
      right: vw(30);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    h3 {
      font-size: vw(40);
      color: #fff;
      line-height: 1.5;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      width: 100%;
      text-align: right;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    .main_art {
      margin-top: vw(120);
      padding: vw(40);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: vw(24);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: vw(30);
        }
      }
    }
    &.active {
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      h3 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .main_art {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_conduct_02 {
  position: relative;
  overflow: hidden;
  article {
    margin-top: vw(80);
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: vw(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: vw(200);
      right: vw(30);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    h3 {
      font-size: vw(40);
      color: #fff;
      line-height: 1.5;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      width: 100%;
      text-align: right;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    .main_art {
      margin-top: vw(120);
      padding: vw(40);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: vw(24);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: vw(30);
        }
      }
    }
    &.active {
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      h3 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .main_art {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_conduct_03 {
  position: relative;
  overflow: hidden;
  article {
    margin-top: vw(80);
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: vw(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: vw(200);
      right: vw(30);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    h3 {
      font-size: vw(40);
      color: #fff;
      line-height: 1.5;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      width: 100%;
      text-align: right;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    .main_art {
      margin-top: vw(120);
      padding: vw(40);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: vw(24);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: vw(30);
        }
      }
    }
    &.active {
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      h3 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .main_art {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_conduct_04 {
  position: relative;
  overflow: hidden;
  article {
    margin-top: vw(80);
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: vw(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: vw(140);
      right: vw(30);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    h3 {
      font-size: vw(40);
      color: #fff;
      line-height: 1.5;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      width: 100%;
      text-align: right;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    .main_art {
      margin-top: vw(120);
      padding: vw(40);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: vw(24);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: vw(30);
        }
      }
    }
    &.active {
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      h3 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .main_art {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_conduct_05 {
  position: relative;
  overflow: hidden;
  article {
    margin-top: vw(80);
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: vw(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: vw(200);
      right: vw(30);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    h3 {
      font-size: vw(40);
      color: #fff;
      line-height: 1.5;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      width: 100%;
      text-align: right;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    .main_art {
      margin-top: vw(120);
      padding: vw(40);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: vw(24);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: vw(30);
        }
      }
    }
    &.active {
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      h3 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .main_art {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

 .st_sologan {
  overflow: hidden;
  .wrap {
    position: relative;
    height: 100%;
  }
  h2 {
    font-size: vw(60);
    font-family: 'YuMincho', serif;
    line-height: 1;
    color: #fff;
    position: relative;
    text-shadow: 0 0 5px #004789;
    margin-top: vw(100);
    text-align: center;
    height: vw(150);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translate3d(0, -50px, 0);
    transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &:after {
      content: "SLOGAN";
      font-size: vw(160);
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      opacity: 0;
      transform: translate3d(0, 70px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      &:after {
        opacity: 0.4;
        transform: translate3d(0, 0, 0);
      }
    }
  }
} 