@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
body {
  background-color: green;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.wrap_section {
  counter-reset: article;
  section {
    &:nth-child(odd) {
      article {
        .main_art {
          background-color: rgba(0, 50, 97, 0.7);
        }
      }
    }
    &:nth-child(even) {
      article {
        .main_art {
          background-color: rgba(255, 255, 255, 0.85);
          p {
            color: #444444;
          }
        }
      }
    }
  }
}

.gr_ttl {
  padding-top: 142px;
  &.no_p {
    padding-top: 0;
  }
  .row {
    position: relative;
  }
  .ttl {
    display: flex;
    justify-content: center;
    h2 {
      overflow: hidden;
      text-align: center;
      padding: 26px 0 27px;
      font-family: 'YuMincho', serif;
      color: #004789;
      position: relative;
      z-index: 1;
      width: 968px;
      transform: skew(-20deg);
      margin: 0;
      span {
        display: block;
        font-size: rem(36);
        line-height: 1;
        opacity: 0;
        transform: skew(20deg) translate3d(0, 50px, 0);
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      }
      &:after {
        content: "";
        width: 968px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;
        transform: translateX(-100%);
        transition: all 0.5s ease-in-out 0.3s;
        opacity: 0;
      }
      &.active {
        span {
          opacity: 1;
          transform: skew(20deg) translate3d(0, 0, 0);
        }
        &:after {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

.st_conduct_top {
  .bx_top {
    margin-top: 135px;
    position: relative;
    &.active {
      h3 {
        opacity: 1;
        transform: translate3d(-50%, 0, 0);
      }
      .bx_top_m {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
    h3 {
      background-color: rgba(255, 255, 255, 0.85);
      width: 700px;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -68px;
      left: 50%;
      z-index: 1;
      opacity: 0;
      transform: translate3d(-50%, -50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    &_m {
      background-color: rgba(0, 50, 97, 0.7);
      padding: 110px 40px 65px 129px;
      opacity: 0;
      transform: translate3d(0, -50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      width: 800px;
      margin: 0 auto;
      p {
        font-size: rem(14);
        line-height: 28px;
        color: #fff;
        +p {
          margin-top: 25px;
        }
      }
    }
  }
}

.st_conduct_01 {
  position: relative;
  article {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 119px;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: rem(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: 120px;
      right: 100%;
      margin-right: 43px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    h3 {
      font-size: rem(36);
      color: #fff;
      line-height: 55px;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      position: absolute;
      top: 50px;
      right: 100%;
      width: 100%;
      text-align: right;
      margin-right: 43px;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    .main_art {
      padding: 65px 220px 65px 51px;
      opacity: 0;
      transform: translate3d(100px, 0, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: rem(14);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: 25px;
        }
      }
    }
    &.active {
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      h3 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .main_art {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_conduct_02 {
  position: relative;
  article {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 119px;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: rem(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: 170px;
      right: 100%;
      margin-right: 43px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    h3 {
      font-size: rem(36);
      color: #fff;
      line-height: 55px;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      position: absolute;
      top: 50px;
      right: 100%;
      width: 100%;
      text-align: right;
      margin-right: 43px;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    .main_art {
      padding: 65px 220px 65px 51px;
      opacity: 0;
      transform: translate3d(100px, 0, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: rem(14);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: 25px;
        }
      }
    }
    &.active {
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      h3 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .main_art {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_conduct_03 {
  position: relative;
  article {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 119px;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: rem(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: 170px;
      right: 100%;
      margin-right: 43px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    h3 {
      font-size: rem(36);
      color: #fff;
      line-height: 55px;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      position: absolute;
      top: 50px;
      right: 100%;
      width: 100%;
      text-align: right;
      margin-right: 43px;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    .main_art {
      padding: 65px 220px 65px 51px;
      opacity: 0;
      transform: translate3d(100px, 0, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: rem(14);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: 25px;
        }
      }
    }
    &.active {
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      h3 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .main_art {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_conduct_04 {
  position: relative;
  article {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 119px;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: rem(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: 120px;
      right: 100%;
      margin-right: 43px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    h3 {
      font-size: rem(36);
      color: #fff;
      line-height: 55px;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      position: absolute;
      top: 50px;
      right: 100%;
      width: 100%;
      text-align: right;
      margin-right: 43px;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    .main_art {
      padding: 65px 220px 65px 51px;
      opacity: 0;
      transform: translate3d(100px, 0, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: rem(14);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: 25px;
        }
      }
    }
    &.active {
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      h3 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .main_art {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_conduct_05 {
  position: relative;
  article {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 119px;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: rem(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: 170px;
      right: 100%;
      margin-right: 43px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    h3 {
      font-size: rem(36);
      color: #fff;
      line-height: 55px;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      position: absolute;
      top: 50px;
      right: 100%;
      width: 100%;
      text-align: right;
      margin-right: 43px;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    .main_art {
      padding: 65px 220px 65px 51px;
      opacity: 0;
      transform: translate3d(100px, 0, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: rem(14);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: 25px;
        }
      }
    }
    &.active {
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      h3 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .main_art {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_sologan {
  .wrap {
    position: relative;
    height: 100%;
  }
  h2 {
    font-size: rem(72);
    font-family: 'YuMincho', serif;
    line-height: 1;
    color: #fff;
    position: relative;
    text-shadow: 0 0 5px #004789;
    margin-top: 125px;
    text-align: center;
    height: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translate3d(0, -50px, 0);
    transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &:after {
      content: "SLOGAN";
      font-size: rem(214);
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      opacity: 0;
      transform: translate3d(0, 70px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      &:after {
        opacity: 0.4;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}