@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

main{
  position: relative;
}
.pos {
  display: none;
}
.backdore {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 12;
  top: 0;
  left: 0;
  transition: top 1s ease;
  .bg_scene {
    background-attachment: scroll;
  }
  &.bg {
    &_01 {
      top: 0;
      z-index: 1;
    }
    &_02 {
      top: -100%;
      z-index: 29;
    }
    &_03 {
      top: -200%;
      z-index: 3;
    }
    &_04 {
      top: -300%;
      z-index: 4;
    }
    &_05 {
      top: -400%;
      z-index: 5;
    }
    &_06 {
      top: -500%;
      z-index: 6;
    }
  }
  .bg_scene_01 {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/scene_01/images/scene1_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: 1;
  }
  .bg_scene_02 {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/scene_02/images/scene2_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    z-index: 1;
  }
  .bg_scene_03 {
    background-image: url("/scene_03/images/scene3_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    z-index: 3;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .bg_scene_04 {
    background-image: url("/scene_04/images/scene4_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: 3;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .bg_scene_05 {
    background-image: url("/scene_05/images/scene5_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: 3;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .bg_scene_06 {
    background-image: url("/scene_06/images/scene6_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: 3;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.scene {
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  transform: translateZ(0);
  overflow: hidden;
  z-index: 12;
}
.bg_scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
section {
  width: 100%;
  height: 100vh;
  &.quarter {
    height: 25vh;
  }
  &.half {
    height: 50vh;
  }
  &.3quarter {
    height: 75vh;
  }
  &.bgw {
    background: #fff;
    z-index: 12;
    position: relative;
  }
}
.bx_leaf {
  .row{
    position: relative;
  }
  figure {
    position: absolute;
    z-index: 1;
    &:nth-of-type(1) {
      top: 114px;
      top: -350px;
      left: -3px;
    }
    &:nth-of-type(2) {
      top: 141px;
      top: -208px;
      left: 99px;
    }
  }
}
.bx_bird {
  height: 100%;
  .row {
    position: relative;
    height: 100%;
  }
  figure {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -89px;
  }
}
.wrap_savanah {
  position: absolute;
  top: 0;
  right: 0;
}
figure.savanah {
  animation-name: fuwafuwa;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1);
    font-size: 5rem;
    line-height: 1;
    font-family: 'YuMincho', serif;
    color: #fff;
    font-weight: bold;
    padding: 27px 93px 26px 102px;
    background: rgba(0,71,137,0.7);
    box-shadow: 0 20px 20px 0 rgba(#003261,0.4);
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.messages {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  article {
    padding: 79px 58px 52px 59px;
    z-index: 9;
    width: 622px;
    opacity: 0;
    transform: translate3d(0,100px,0);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
    position: relative;
    h3 {
      font-size: rem(36);
      line-height: 29px;
      font-family: 'YuMincho', serif;
      margin-bottom: 35px;
      color: #004789;
    }
    p {
      font-size: rem(14);
      line-height: 1.5;
      +p {
        margin-top: 25px;
      }
    }
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    }
    &::after {
      position: absolute;
      content: "";
      width: 150px;
      height: 150px;
      background: #004788;
      right: -15px;
      bottom: -15px;
      z-index: -2;
      box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    }
    &.active {
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
}
.profile {
  overflow: hidden;
  .row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 1000px;
  }
  article {
    border: 2px solid #004789;
    padding: 3px;
    width: 500px;
    transform: translateX(500px);
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
    position: relative;
    z-index: 20;
    .bx_art {
      background-color: rgba(0, 50, 97, 0.7);
      padding: 54px 21px 50px 24px;
      em {
        font-size: rem(12);
        line-height: 29px;
        color: #fff;
        font-style: normal;
      }
      h3 {
        font-size: rem(42);
        color: #fff;
        font-family: 'YuMincho', serif;
      }
      span {
        font-size: rem(14);
        line-height: 36px;
        color: #fff;
        display: block;
        text-align: right;
        font-weight: bold;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;
      }
      .main_art {
        p {
          font-size: rem(14);
          line-height: 1.5;
          color: #fff;
          +p {
            margin-top: 30px;
          }
        }
      }
    }
    &.active {
      opacity: 1;
      transform: translateX(0);
    }
  }

}
.st_event {
  .row {
    position: relative;
    height: 100%;
  }
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 108px;
    right: 96px;
    padding: 84px 54px 92px 59px;
    z-index: 9;
    width: 565px;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
    h3 {
      font-size: rem(36);
      line-height: 29px;
      font-family: 'YuMincho', serif;
      color: #004789;
      margin-bottom: 28px;
    }
    p {
      font-size: rem(14);
      line-height: 1.8;
      +p {
        margin-top: 23px;
      }
    }
    figure {
      position: absolute;
      bottom: -357px;
      right: -95px;
      z-index: 10;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      opacity: 0;
      display: inline-block;
    }
    &.active {
      transform: translateY(0);
      opacity: 1;
      figure {
        opacity: 1;
        bottom: -157px;
      }
    }
  }
  figure.fish {
    position: absolute;
    bottom: -186px;
    left: 70px;
    z-index: 1;
    &.step_01 {
      bottom: -105px;
    }
    &.step_02 {
      bottom: 0;
    }
    &.step_03 {
      bottom: 100px;
    }
    &.step_04 {
      bottom: 248px;
    }
  }
}
.st_studio {
  .row {
    position: relative;
    height: 100%;
  }
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 108px;
    right: 0;
    padding: 84px 54px 70px 59px;
    z-index: 9;
    width: 565px;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    h3 {
      font-size: rem(36);
      line-height: 29px;
      font-family: 'YuMincho', serif;
      color: #004789;
      margin-bottom: 28px;
    }
    p {
      font-size: rem(14);
      line-height: 1.8;
      +p {
        margin-top: 23px;
      }
    }
    figure {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 10;
      margin-top: 226px;
      opacity: 0;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
    }
    &.active {
      opacity: 1;
      transform: translateY(0);
      figure {
        opacity: 1;
        margin-top: 26px;
      }
    }
  }
}
.st_consulting {
  overflow: hidden;
  .wrap {
    height: 100%;
    position: relative;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }
  .wrap_con {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: 470px;
    height: 376px;
  }
  .wrap
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    padding: 69px 50px 52px 50px;
    height: 100%;
    // &:nth-of-type(2) {
    //   right: 0;
    //   padding: 70px 57px 51px 49px;
    //   opacity: 0;
    //   transform: translate(100%,-50%);
    //   transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
    // }
    h3 {
      font-size: rem(36);
      line-height: 29px;
      font-family: 'YuMincho', serif;
      color: #004789;
      margin-bottom: 28px;
    }
    p {
      font-size: rem(14);
      line-height: 1.8;
      +p {
        margin-top: 23px;
      }
    }
  }
  .wrap_contract,.wrap_jewelry {
    left: 0;
    article {
      opacity: 0;
      transform: translateX(-50px);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      &.active {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  .wrap_business,.wrap_edu {
    right: 0;
    article {
      opacity: 0;
      transform: translateX(50px);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      background-color: rgba(0, 50, 97, 0.7);
      h3,p {
        color: #fff;
      }
      &.active {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  .wrap_edu {
    left: 0;
    article {
      transform: translateX(-50px);
    }
  }
  .wrap_jewelry {
    right: 0;
    left: inherit;
    article {
      transform: translateX(50px);
    }
  }
}
.wrap_section {
  counter-reset: article;
}
.st_new_01 {
  .inner {
    display: flex;
    flex-flow: row wrap;
    margin: 136px 0 0 -20px;
  }
  article {
    width: calc(33.33% - 20px);
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.4);
    padding: 64px 30px;
    height: 100%;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    position: relative;
    z-index: 20;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      color: #fff;
      font-size: rem(134);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: -60px;
      right: -30px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    &:nth-child(odd) {
      background-color: rgba(0, 50, 97, 0.7);
      &:before {
        color: #fff;
      }
      h3 {
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
    &:nth-of-type(2) {
      margin-top: 180px;
    }
    &:nth-of-type(3) {
      margin-top: 360px;
    }
    h3 {
      font-size: rem(30);
      line-height: 1.5;
      color: #004789;
      font-family: 'YuMincho', serif;
      margin-bottom: 25px;
    }
    p {
      font-size: rem(14);
      line-height: 1.8;
      color: #000;
    }
    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

}
.st_new_02 {
  .inner {
    display: flex;
    flex-flow: row wrap;
    margin: 136px 0 0 -20px;
  }
  article {
    width: calc(33.33% - 20px);
    margin-left: 20px;
    height: 100%;
    background-color: rgba(0, 50, 97, 0.7);
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.4);
    padding: 64px 30px;
    position: relative;
    z-index: 20;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      color: #fff;
      font-size: rem(134);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #fff;
      font-weight: bold;
      position: absolute;
      top: -60px;
      right: -30px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    &:nth-of-type(2) {
      margin-top: 180px;
    }
    &:nth-of-type(3) {
      margin-top: 360px;
    }
    &:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.7);
      &:before {
        color: #004789;
      }
      h3 {
        color: #004789;
      }
      p {
        color: #000;
      }
    }
    h3 {
      font-size: rem(30);
      line-height: 1.5;
      color: #fff;
      font-family: 'YuMincho', serif;
      margin-bottom: 25px;
    }
    p {
      font-size: rem(14);
      line-height: 1.8;
      color: #fff;
    }
    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
.st_production {
  position: relative;
  z-index: 20;
  .row {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    padding: 79px 58px 52px 59px;
    z-index: 9;
    width: 622px;
    opacity: 0;
    margin-top: 100px;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
    h3 {
      font-size: rem(36);
      line-height: 29px;
      color: #004789;
      font-family: 'YuMincho', serif;
      margin-bottom: 35px;
    }
    p {
      font-size: rem(14);
      line-height: 1.5;
    }
    figure {
      margin-top: 30px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    &.active {
      opacity: 1;
      margin-top: 0;
      figure {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
.st_vision_01 {
  .wrap {
    position: relative;
    height: 100%;
  }
  h2 {
    font-size: rem(100);
    font-family: 'YuMincho', serif;
    color: #fff;
    line-height: 1;
    position: absolute;
    margin-top: -65px;
    top: 50%;
    left: -100px;
    z-index: -1;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &.active {
      opacity: 1;
      left: 30px;
    }
  }
  article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 424px;
    height: 424px;
    padding-top: 85px;
    margin-left: -300px;
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
    &:after {
      content: "";
      width: 300px;
      height: 300px;
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      top: 62px;
      left: 62px;
      transform: rotate(45deg);
      z-index: -1;
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    }
    span {
      font-size: rem(18);
      line-height: 1;
      color: #fff;
      background-color: #004789;
      padding: 10px 26px;
      display: inline-block;
      margin-bottom: 30px;
    }
    h3 {
      font-size: rem(36);
      color: #444444;
      line-height: 55px;
      display: block;
      font-style: normal;
      font-weight: bold;
      font-family: 'YuMincho', serif;
    }
    &.active {
      opacity: 1;
      margin-left: 0;
    }
  }
}

.st_vision_02 {
  .wrap {
    position: relative;
    height: 100%;
  }
  h2 {
    font-size: rem(100);
    font-family: 'YuMincho', serif;
    color: #fff;
    line-height: 1;
    position: absolute;
    margin-top: -70px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &.active {
      opacity: 1;
      right: 115px;
    }
  }
  article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 424px;
    height: 424px;
    padding-top: 85px;
    margin-left: 200px;
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
    &:after {
      content: "";
      width: 300px;
      height: 300px;
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      top: 62px;
      right: 62px;
      transform: rotate(45deg) translate(0, 0);
      z-index: -1;
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    }
    span {
      font-size: rem(18);
      line-height: 1;
      color: #fff;
      background-color: #004789;
      padding: 10px 26px;
      display: inline-block;
      margin-bottom: 30px;
    }
    h3 {
      font-size: rem(36);
      color: #444444;
      line-height: 55px;
      display: block;
      font-style: normal;
      font-weight: bold;
      font-family: 'YuMincho', serif;
    }
    &.active {
      opacity: 1;
      margin-left: 0;
    }
  }
}

.st_vision_03 {
  .wrap {
    position: relative;
    height: 100%;
  }
  h2 {
    font-size: rem(100);
    font-family: 'YuMincho', serif;
    color: #fff;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: -1;
    margin-top: -220px;
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &.active {
      opacity: 1;
      left: 70px;
    }
  }
  article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 750px;
    height: 750px;
    padding-top: 85px;
    margin-left: -200px;
    opacity: 0;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
    &:after {
      content: "";
      width: 530px;
      height: 530px;
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      top: 110px;
      left: 110px;
      transform: rotate(45deg) translate(0, 0);
      z-index: -1;
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    }
    span {
      font-size: rem(18);
      line-height: 1;
      color: #fff;
      background-color: #004789;
      padding: 10px 26px;
      display: inline-block;
      margin-bottom: 30px;
    }
    figure{
      opacity: 0;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 1s;
      transform: translate3d(0,-50px,0);
      img {
        width: 418px;
      }
    }
    h3 {
      font-size: rem(36);
      color: #444444;
      line-height: 55px;
      display: block;
      font-style: normal;
      font-weight: bold;
      font-family: 'YuMincho', serif;
    }
    &.active {
      opacity: 1;
      margin-left: 0;
      figure{
        opacity: 1;
        transform: translate3d(0,0,0);
      }
    }
  }
}
.st_what {
  .wrap {
    position: relative;
  }
  .bx_multi {
    background-color: rgba(0, 71, 137, 0.70);
    padding: 39px 0 42px;
    margin-top: 30px;
    opacity: 0;
    transform: translate3d(0,50px,0);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
    &.active{
      opacity: 1;
      transform: translate3d(0,0,0);
      .bx_multi_item{
        &:after {
          opacity:1;
          margin-left: 0;
        }
        h3{
          opacity: 1;
          margin-top: 45px;
        }
        figure{
          opacity: 1;
          transform: translate3d(0,0,0);
          figcaption {

          }
        }
      }
    }
    p {
      font-size: rem(16);
      line-height: 1.8;
      color: #fff;
      margin: 0 0 35px 176px;
    }
    &_item {
      position: relative;
      display: flex;
      &:after {
        content: "";
        background: url(/scene_05/images/t.png) no-repeat;
        width: 136px;
        height: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 45px 0 0 -50px;
        z-index: 0;
        opacity: 0;
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      }
      h3 {
        font-size: rem(36);
        line-height: 1;
        font-family: 'YuMincho', serif;
        color: #004789;
        padding: 27px 0 29px;
        width: 553px;
        background-color: rgba(255, 255, 255, 0.85);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0;
        z-index: 1;
        opacity: 0;
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 2s;
      }
      figure {
        text-align: center;
        width: 50%;
        opacity: 0;
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
        transform: translate3d(-50px,0,0);
        &:first-of-type {
          padding-right: 80px;
          transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
        }
        figcaption {
          font-size: rem(16);
          line-height: 24px;
          text-align: center;
          width: 165px;
          background-color: rgb(255, 255, 255);
          padding: 9px 0;
          margin: 0 auto 31px;
          img {
            width: 140px;
            height: auto;
          }
          span {
            display: block;
            font-size: rem(24);
            color: #004789;
          }
        }
      }
    }
  }
}
.st_what_2 {
  .wrap {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top: 30px;
    article {
      width: 470px;
      background: rgba(#003261,0.7);
      box-shadow: 0 20px 20px 0 rgba(#000,0.4);
      padding: 69px 57px 64px 49px;
      color: #fff;
      font-family: 'YuMincho', serif;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      &:not(:nth-of-type(-n+2)) {
        margin-top: 60px;
      }
      &:nth-child(odd) {
        opacity: 0;
        transform: translate3d(-50px,0,0);
      }
      &:nth-child(even) {
        opacity: 0;
        transform: translate3d(50px,0,0);
      }
      &.active {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
      h3 {
        text-align: center;
        font-size: 3.6rem;
        line-height: 1;
        font-weight: bold;
      }
      em {
        font-style: normal;
        display: block;
        font-size: 1.4rem;
        line-height: 24px;
        margin-top: 15px;
        text-align: center;
      }
      p {
        font-size: 1.4rem;
        line-height: 24px;
        margin-top: 25px;
        font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      }
    }
  }
}
.wrap_airship {
  position: absolute;
  top: 0;
  right: 0;
  figure {
    animation-name: fuwafuwa;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
}
.wrap_section {
  counter-reset: article;
  section {
    &:nth-child(odd) {
      article {
        .main_art {
          background-color: rgba(0, 50, 97, 0.7);
        }
      }
    }
    &:nth-child(even) {
      article {
        .main_art {
          background-color: rgba(255, 255, 255, 0.85);
          p {
            color: #444444;
          }
        }
      }
    }
  }
}

.gr_ttl {
  padding-top: 142px;
  &.no_p {
    padding-top: 0;
  }
  .row {
    position: relative;
  }
  .ttl {
    display: flex;
    justify-content: center;
    h2 {
      overflow: hidden;
      text-align: center;
      padding: 26px 0 27px;
      font-family: 'YuMincho', serif;
      color: #004789;
      position: relative;
      z-index: 1;
      width: 968px;
      transform: skew(-20deg);
      margin: 0;
      span {
        display: block;
        font-size: rem(36);
        line-height: 1;
        opacity: 0;
        transform: skew(20deg) translate3d(0, 50px, 0);
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      }
      &:before {
        content: "";
        width: 968px;
        height: 100%;
        // background-color: rgba(255, 255, 255, 0.85);
        background-color: rgba(0,50,97,0.7);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -2;
        transform: translateX(-100%);
        transition: all 0.5s ease-in-out 0.3s;
        opacity: 0;
      }
      &::after {
        content: "";
        width: 968px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        z-index: -1;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out 0.6s;
        opacity: 0;
      }
      &.active {
        span {
          opacity: 1;
          transform: skew(20deg) translate3d(0, 0, 0);
        }
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        &::after {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

.st_conduct_top {
  .bx_top {
    margin-top: 135px;
    position: relative;
    &.active {
      h3 {
        opacity: 1;
        transform: translate3d(-50%, 0, 0);
      }
      .bx_top_m {
        &::after {
          height: 100%;
          width: 100%;
        }
        p {
          opacity: 1;

        }
      }
    }
    h3 {
      background-color: rgba(255, 255, 255, 0.85);
      width: 700px;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -68px;
      left: 50%;
      z-index: 1;
      opacity: 1;
      transform: translate3d(-50%, -50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    &_m {
      padding: 110px 40px 65px 129px;
      width: 800px;
      margin: 0 auto;
      position: relative;
      p {
        opacity: 0;
        transition: opacity 1s cubic-bezier(0.4, 0.1, 0.7, 1) 1s;
      }
      &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 50, 97, 0.7);
        z-index: -1;
        transition: height 0.5s ease,width 0.5s ease 0.5s;
      }
      p {
        font-size: rem(14);
        line-height: 28px;
        color: #fff;
        +p {
          margin-top: 25px;
        }
      }
    }
  }
}

.st_conduct_01 {
  position: relative;
  article {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 119px;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: rem(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: 120px;
      right: 100%;
      margin-right: 43px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    h3 {
      font-size: rem(36);
      color: #fff;
      line-height: 55px;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      position: absolute;
      top: 50px;
      right: 100%;
      width: 100%;
      text-align: right;
      margin-right: 43px;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      @media only screen and (max-width: 1100px) {
        margin-right: 10px;
      }
      @media only screen and (max-width: 1100px) {
        margin-right: 10px;
      }
    }
    .main_art {
      padding: 65px 220px 65px 51px;
      opacity: 0;
      transform: translate3d(100px, 0, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: rem(14);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: 25px;
        }
      }
      @media only screen and (max-width: 1100px) {
        padding: 65px 65px 65px 51px;
      }
    }
    &.active{
      &:before {
        opacity:1;
        transform: translate3d(0,0,0);
      }
      h3 {
        opacity:1;
        transform: translate3d(0,0,0);
      }
      .main_art {
        opacity:1;
        transform: translate3d(0,0,0);
      }
    }
  }
}

.st_conduct_02 {
  position: relative;
  article {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 119px;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: rem(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: 170px;
      right: 100%;
      margin-right: 43px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      @media only screen and (max-width: 1100px) {
        margin-right: 10px;
      }
    }
    h3 {
      font-size: rem(36);
      color: #fff;
      line-height: 55px;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      position: absolute;
      top: 50px;
      right: 100%;
      width: 100%;
      text-align: right;
      margin-right: 43px;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      @media only screen and (max-width: 1100px) {
        margin-right: 10px;
      }
    }
    .main_art {
      padding: 65px 220px 65px 51px;
      opacity: 0;
      transform: translate3d(100px, 0, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: rem(14);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: 25px;
        }
      }
      @media only screen and (max-width: 1100px) {
        padding: 65px 65px 65px 51px;
      }
    }
    &.active{
      &:before {
        opacity:1;
        transform: translate3d(0,0,0);
      }
      h3 {
        opacity:1;
        transform: translate3d(0,0,0);
      }
      .main_art {
        opacity:1;
        transform: translate3d(0,0,0);
      }
    }
  }
}

.st_conduct_03 {
  position: relative;
  article {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 119px;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: rem(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: 170px;
      right: 100%;
      margin-right: 43px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      @media only screen and (max-width: 1100px) {
        margin-right: 10px;
      }
    }
    h3 {
      font-size: rem(36);
      color: #fff;
      line-height: 55px;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      position: absolute;
      top: 50px;
      right: 100%;
      width: 100%;
      text-align: right;
      margin-right: 43px;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      @media only screen and (max-width: 1100px) {
        margin-right: 10px;
      }
    }
    .main_art {
      padding: 65px 220px 65px 51px;
      opacity: 0;
      transform: translate3d(100px, 0, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      @media only screen and (max-width: 1100px) {
        padding: 65px 65px 65px 51px;
      }
      p {
        font-size: rem(14);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: 25px;
        }
      }

    }
    &.active{
      &:before {
        opacity:1;
        transform: translate3d(0,0,0);
      }
      h3 {
        opacity:1;
        transform: translate3d(0,0,0);
      }
      .main_art {
        opacity:1;
        transform: translate3d(0,0,0);
      }
    }
  }
}

.st_conduct_04 {
  position: relative;
  article {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 119px;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: rem(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: 120px;
      right: 100%;
      margin-right: 43px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      @media only screen and (max-width: 1100px) {
        margin-right: 10px;
      }
    }
    h3 {
      font-size: rem(36);
      color: #fff;
      line-height: 55px;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      position: absolute;
      top: 50px;
      right: 100%;
      width: 100%;
      text-align: right;
      margin-right: 43px;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      @media only screen and (max-width: 1100px) {
        margin-right: 10px;
      }
    }
    .main_art {
      padding: 65px 220px 65px 51px;
      opacity: 0;
      transform: translate3d(100px, 0, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      p {
        font-size: rem(14);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: 25px;
        }
      }
      @media only screen and (max-width: 1100px) {
        padding: 65px 65px 65px 51px;
      }
    }
    &.active{
      &:before {
        opacity:1;
        transform: translate3d(0,0,0);
      }
      h3 {
        opacity:1;
        transform: translate3d(0,0,0);
      }
      .main_art {
        opacity:1;
        transform: translate3d(0,0,0);
      }
    }
  }
}

.st_conduct_05 {
  position: relative;
  article {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 119px;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      font-size: rem(100);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: 170px;
      right: 100%;
      margin-right: 43px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1);
      @media only screen and (max-width: 1100px) {
        margin-right: 10px;
      }
    }
    h3 {
      font-size: rem(36);
      color: #fff;
      line-height: 55px;
      display: block;
      font-weight: bold;
      font-family: 'YuMincho', serif;
      position: absolute;
      top: 50px;
      right: 100%;
      width: 100%;
      text-align: right;
      margin-right: 43px;
      text-decoration: underline;
      text-shadow: 0 0 5px #004789;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      @media only screen and (max-width: 1100px) {
        margin-right: 10px;
      }
    }
    .main_art {
      padding: 65px 220px 65px 51px;
      opacity: 0;
      transform: translate3d(100px, 0, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1);
      @media only screen and (max-width: 1100px) {
        padding: 65px 65px 65px 51px;
      }
      p {
        font-size: rem(14);
        line-height: 1.5;
        color: #fff;
        +p {
          margin-top: 25px;
        }
      }
    }
    &.active{
      &:before {
        opacity:1;
        transform: translate3d(0,0,0);
      }
      h3 {
        opacity:1;
        transform: translate3d(0,0,0);
      }
      .main_art {
        opacity:1;
        transform: translate3d(0,0,0);
      }
    }
  }
}

.st_sologan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.start {
    .gr_ttl {
      h2 {
        transition: all 1s ease 2s;
      }
    }
    .wrap {
      h2 {
        transition: opacity 1s ease 2s;
        &::after {
          transition: transform 1s ease, opacity 1s ease 0.8s;
        }
      }
    }
    &.end {
      .gr_ttl {
        h2 {
          opacity: 0;
          transform: translateY(-100px) skew(-20deg) ;
        }
      }
      .wrap {
        h2 {
          opacity: 0;
          &::after {
            transform: translate3d(-50%, 0, 0) scale(1.3);
            opacity: 0;
          }
        }
      }
    }
  }
  .wrap {
    position: relative;
    h2 {
      font-size: rem(72);
      font-family: 'YuMincho', serif;
      line-height: 1;
      color: #fff;
      position: relative;
      text-shadow: 0 0 5px #004789;
      margin-top: 125px;
      text-align: center;
      height: 196px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transform: translate3d(0, -50px, 0);
      transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      &:after {
        content: "SLOGAN";
        font-size: rem(214);
        position: absolute;
        top: 0;
        left: 50%;
        color: #fff;
        opacity: 0;
        transform: translate3d(-50%, 70px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      }
      &.active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        &:after {
          opacity: 0.4;
          transform: translate3d(-50%, 0, 0);
        }
      }
    }
  }
  &_ex {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    a {
      width: 320px;
      background: rgba(#003261,0.7);
      box-shadow: 0 20px 20px 0 rgba(#000,0.4);
      height: 100px;
      color: #fff;
      display: flex;
      opacity: 0;
      transform: translate3d(0,50px,0);
      position: relative;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &:hover {
        &::after {
          right: 8px;
        }
      }
      &::after {
        position: absolute;
        content: "";
        width: 13px;
        height: 22px;
        background: url('../scene_06/images/btn_arrow.png') 0 0 no-repeat;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: 13px;
        transition: right 0.3s ease;
      }
      &:nth-of-type(1) {
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1);
      }
      &:nth-of-type(2) {
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
        em {
          font-size: 1.7rem;
          line-height: 21px;
        }
      }
      &:nth-of-type(3) {
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      }
      &.active {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
      * {
        display: block;
        text-align: center;
      }
      em {
        font-style: normal;
        font-size: 2rem;
        line-height: 1;
        font-weight: bold;
        font-family: 'YuMincho', serif;
      }
      span {
        font-size: 1.3rem;
        line-height: 23px;
        margin-top: 5px;
      }
    }
  }
}
.firework {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  &.active {
    .f1 {
      img {
        transform: translate(-50%,-50%) scale(1);
        opacity: 0;
      }
    }
    .f2 {
      &::after {
        top: 0;
        opacity: 0;
      }
    }
  }
  .f1 {
    width: 498px;
    height: 524px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(0);
      &:nth-child(1) {
        transition: transform 0.3s ease 0.4s, opacity 0.3s ease 0.7s;
      }
      &:nth-child(2) {
        transition: transform 0.3s ease 0.5s, opacity 0.3s ease 0.8s;
      }
      &:nth-child(3) {
        transition: transform 0.3s ease 0.7s, opacity 0.3s ease 1s;
      }
      &:nth-child(4) {
        transition: transform 0.3s ease 0.8s, opacity 0.3s ease 1.1s;
      }
      &:nth-child(5) {
        transition: transform 0.3s ease 0.9s, opacity 0.3s ease 1.2s;
      }
      &:nth-child(6) {
        transition: transform 0.3s ease 1s, opacity 0.3s ease 1.3s;
      }
    }
  }
  .f2 {
    width: 44px;
    height: 248px;
    position: relative;
    transform: translateZ(0);
    margin-top: 70px;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 100%;
      left: 0;
      background: url('/scene_06/images/fireworks_01.png') 0 0 no-repeat;
      z-index: -1;
      transition: top 0.3s ease, opacity 0.3s ease 0.6s;
    }
  }
}
.firework_left {
  position: absolute;
  left: 0;
  top: 0;
  &.active {
    .f1 {
      img {
        transform: translate(-50%,-50%) scale(1);
        opacity: 0;
      }
    }
  }
  figure.f1 {
    width: 498px;
    height: 524px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(0);
      &:nth-child(1) {
        transition: transform 0.3s ease 0.4s, opacity 0.3s ease 0.7s;
      }
      &:nth-child(2) {
        transition: transform 0.3s ease 0.5s, opacity 0.3s ease 0.8s;
      }
      &:nth-child(3) {
        transition: transform 0.3s ease 0.7s, opacity 0.3s ease 1s;
      }
      &:nth-child(4) {
        transition: transform 0.3s ease 0.8s, opacity 0.3s ease 1.1s;
      }
      &:nth-child(5) {
        transition: transform 0.3s ease 0.9s, opacity 0.3s ease 1.2s;
      }
      &:nth-child(6) {
        transition: transform 0.3s ease 1s, opacity 0.3s ease 1.3s;
      }
    }
  }
}
.firework_right {
  position: absolute;
  right: 0;
  top: 0;
  &.active {
    .f1 {
      img {
        transform: translate(-50%,-50%) scale(1);
        opacity: 0;
      }
    }
  }
  figure.f1 {
    width: 498px;
    height: 524px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(0);
      &:nth-child(1) {
        transition: transform 0.3s ease 0.4s, opacity 0.3s ease 0.7s;
      }
      &:nth-child(2) {
        transition: transform 0.3s ease 0.5s, opacity 0.3s ease 0.8s;
      }
      &:nth-child(3) {
        transition: transform 0.3s ease 0.7s, opacity 0.3s ease 1s;
      }
      &:nth-child(4) {
        transition: transform 0.3s ease 0.8s, opacity 0.3s ease 1.1s;
      }
      &:nth-child(5) {
        transition: transform 0.3s ease 0.9s, opacity 0.3s ease 1.2s;
      }
      &:nth-child(6) {
        transition: transform 0.3s ease 1s, opacity 0.3s ease 1.3s;
      }
    }
  }
}
