@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

@import "../common/css/_mixin/mixin";
@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
//---------------------------------------------------------------------------
$particles: 50;
$width: 500;
$height: 500;
// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow, random($width)-$width / 2 + px random($height)-$height / 1.2 + px hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}

@mixin keyframes ($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @-ms-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay ($settings) {
  -moz-animation-delay: $settings;
  -webkit-animation-delay: $settings;
  -o-animation-delay: $settings;
  -ms-animation-delay: $settings;
  animation-delay: $settings;
}

@mixin animation-duration ($settings) {
  -moz-animation-duration: $settings;
  -webkit-animation-duration: $settings;
  -o-animation-duration: $settings;
  -ms-animation-duration: $settings;
  animation-duration: $settings;
}

@mixin animation ($settings) {
  -moz-animation: $settings;
  -webkit-animation: $settings;
  -o-animation: $settings;
  -ms-animation: $settings;
  animation: $settings;
}

@mixin transform ($settings) {
  transform: $settings;
  -moz-transform: $settings;
  -webkit-transform: $settings;
  -o-transform: $settings;
  -ms-transform: $settings;
}

.pyro>.before,
.pyro>.after {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}

.pyro>.after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow: $box-shadow;
  }
}

@include keyframes(gravity) {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes fallingLeaves1 {
  0% {
  opacity: 1;
  transform: translate(calc(-50% + #{vw(-99)}), 0) rotateZ(0deg);
  top: 0;
  }
  50% {
  opacity: 1;
  transform: translate(calc(-50% + #{vw(-99)}), 0) rotateZ(180deg);
  top: 50%;
  }
  75% {
  opacity: 1;
  transform: translate(calc(-50% + #{vw(-99)}), 0) rotateZ(270deg);
  top: 75%;
  }
  100% {
  opacity: 0;
  transform: translate(calc(-50% + #{vw(-99)}), 0) rotateZ(360deg);
  top: 100%;
  }
}
@keyframes fallingLeaves2 {
  0% {
  opacity: 1;
  transform: translate(calc(-50% + #{vw(99)}), 0) rotateZ(0deg);
  top: 0;
  }
  50% {
  opacity: 1;
  transform: translate(calc(-50% + #{vw(99)}), 0) rotateZ(180deg);
  top: 50%;
  }
  75% {
  opacity: 1;
  transform: translate(calc(-50% + #{vw(99)}), 0) rotateZ(270deg);
  top: 75%;
  }
  100% {
  opacity: 0;
  transform: translate(calc(-50% + #{vw(99)}), 0) rotateZ(360deg);
  top: 100%;
  }
}
@include min-screen() {
  @import "./_style_pc.scss";
}
@include max-screen() {
  @import "./_style_sp.scss";
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  // ===================================================================
  //  use toppage
  // ===================================================================
  .backdore {
    display: none;
  }
  .row {
    padding: 0 100px;
  }
  main {
    position: relative;
    z-index: 99;
  }
  .scene_04 {
    .wrap_savanah {
      display: none;
    }
  }
  .scene_05 {
    transform: translateZ(0);
    .wrap_airship {
      position: relative;
      z-index: -1;
      display: none;
      figure {
        width: vw(461);
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .pos {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    background-repeat: no-repeat;
    background-size: 0 0;
    &.fixed {
      position: fixed;
    }
    &_01 {
      z-index: 1;
      background-image: url('/scene_01/images/scene1_bg_sp.jpg');
      background-size: cover;
      .bx_leaf {
        height: 100%;
        .row {
          position: relative;
          height: 100%;
        }
        figure {
          position: absolute;
          z-index: -1;
          img{
            width: 100%;
            height: auto;
          }
          &:nth-of-type(1) {
            width: vw(215);
            left: 50%;
            top: 50%;
            transform: translate(calc(-50% + #{vw(-99)}), calc(-50% + #{vw(114)}));
          }
          &:nth-of-type(2) {
            top: vw(141);
            left: vw(99);
            width: vw(393);
            left: 50%;
            top: 50%;
            transform: translate(calc(-50% + #{vw(99)}), calc(-50% + #{vw(114)}));
          }
        }
      }
    }
    &_02 {
      background-image: url('/scene_02/images/scene2_bg_sp.jpg');
      background-size: cover;
      z-index: 2;
      .bx_fish {
        height: 100%;
        .row {
          position: relative;
          height: 100%;
        }
        figure {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          img{
            max-width: 100%;
            width: auto;
            height: auto;
          }
          &:nth-of-type(1) {
            width: vw(419);
            z-index: -1;
          }
        }
      }
    }
    &_03 {
      background-image: url('/scene_03/images/scene3_bg_sp.jpg');
      background-size: cover;
      z-index: 3;
      .bx_bird {
        height: 100%;
        .row {
          position: relative;
          height: 100%;
        }
        figure {
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          img{
            width: 100%;
            height: auto;
          }
          &:nth-of-type(1) {
            width: vw(537);
          }
        }
      }
    }
    &_04 {
      background-image: url('/scene_04/images/scene4_bg_sp.jpg');
      background-size: cover;
      z-index: 4;
    }
    &_05 {
      background-image: url('/scene_05/images/scene5_bg_sp.jpg');
      background-size: cover;
      z-index: 5;
    }
    &_06 {
      background-image: url('/scene_06/images/scene6_bg_sp.jpg');
      background-size: cover;
      z-index: 6;
    }
  }
  .scene {
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: relative;
    transform: translateZ(0);
    overflow: hidden;
    z-index: 12;
    padding: 30vw 0;
    &_06 {
      padding-bottom: 0;
    }
  }
  .hello {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: vw(100);
    h2 {
      opacity: 0;
      transform: translateY(#{vw(50)});
      transition: all 1s ease;
      font-size: vw(50);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #fff;
      font-weight: bold;
      padding: vw(30) vw(50);
      background: rgba(0,71,137,0.7);
      box-shadow: 0 #{vw(20)} #{vw(20)} 0 rgba(#003261,0.4);
      &.active {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .messages {
    padding: vw(40) 0;
    article {
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
      padding: vw(60);
      z-index: 9;
      opacity: 0;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      transform: translateY(50px);
      position: relative;
      h3 {
        font-size: vw(40);
        line-height: 1.5;
        font-family: 'YuMincho', serif;
        margin-bottom: vw(30);
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        +p {
          margin-top: vw(30);
        }
      }
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.85);
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
      }
      &::after {
        position: absolute;
        content: "";
        width: vw(150);
        height: vw(150);
        background: #004788;
        right: vw(-15);
        bottom: vw(-15);
        z-index: -2;
        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
      }
      &.active {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .profile {
    margin-top: vw(90);
    article {
      border: vw(3) solid #004789;
      padding: vw(6);
      opacity: 0;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      transform: translateY(50px);
      position: relative;
      .bx_art {
        background-color: rgba(0, 50, 97, 0.7);
        padding: vw(40);
        em {
          font-size: vw(20);
          line-height: 1.5;
          color: #fff;
          font-style: normal;
        }
        h3 {
          font-size: vw(50);
          color: #fff;
          font-family: 'YuMincho', serif;
        }
        span {
          font-size: 16px;
          line-height: 1.5;
          color: #fff;
          display: block;
          text-align: right;
          font-weight: bold;
          border-bottom: 1px solid #fff;
          margin-bottom: vw(30);
        }
        .main_art {
          p {
            font-size: 16px;
            line-height: 1.5;
            color: #fff;
            +p {
              margin-top: vw(30);
            }
          }
        }
      }
      &.active {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .st_event {
    padding: vw(40) 0 0;
    article {
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
      padding: vw(40);
      z-index: 9;
      opacity: 0;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      transform: translateY(50px);
      position: relative;
      h3 {
        font-size: vw(40);
        line-height: 1.5;
        font-family: 'YuMincho', serif;
        color: #004789;
        margin-bottom: vw(30);
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        +p {
          margin-top: vw(30);
        }
      }
      figure {
        margin-top: vw(40);
        img{
          width: 100%;
          height: auto;
        }
      }
      &.active {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .st_studio {
    padding: vw(120) 0;
    article {
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
      padding: vw(40);
      z-index: 9;
      opacity: 0;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      transform: translateY(50px);
      position: relative;
      h3 {
        font-size: vw(40);
        line-height: 1.5;
        font-family: 'YuMincho', serif;
        color: #004789;
        margin-bottom: vw(30);
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        +p {
          margin-top: vw(30);
        }
      }
      figure {
        margin-top: vw(40);
        img{
          width: 100%;
          height: auto;
        }
      }
      &.active {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .st_consulting {
    .wrap_contract {
      padding-top: vw(120)
    }
    .wrap_business {
      padding-top: vw(120)
    }
    article {
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
      padding: vw(40);
      opacity: 0;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      transform: translateY(50px);
      position: relative;
      h3 {
        font-size: vw(40);
        line-height: 1.5;
        font-family: 'YuMincho', serif;
        color: #004789;
        margin-bottom: vw(30);
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        +p {
          margin-top: vw(30);
        }
      }
      &.active {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .wrap_section {
    counter-reset: article;
  }

  .st_new_01 {
    .inner {
      margin: vw(100) 0 0 0;
    }
    article {
      background-color: rgba(255, 255, 255, 0.7);
      box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.4);
      padding: vw(40) vw(30);
      height: 100%;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      position: relative;
      &:not(:last-child){
        margin-bottom: vw(80);
      }
      &:nth-child(-n+9):before {
        content: "0" counter(article);
      }
      &:before {
        content: counter(article);
        counter-increment: article;
        color: #fff;
        font-size: 120px;
        line-height: 1;
        font-family: 'YuMincho', serif;
        color: #004789;
        font-weight: bold;
        position: absolute;
        top: vw(-60);
        right: vw(-20);
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      }
      &:nth-child(odd) {
        background-color: rgba(0, 50, 97, 0.7);
        &:before {
          color: #fff;
        }
        h3 {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
      h3 {
        font-size: vw(40);
        line-height: 1.5;
        color: #004789;
        font-family: 'YuMincho', serif;
        margin-bottom: vw(30);
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        color: #000;
      }
      &.active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .st_new_02 {
    .inner {
      margin: vw(80) 0 0 0;
    }
    article {
      height: 100%;
      background-color: rgba(0, 50, 97, 0.7);
      box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.4);
      padding: vw(40) vw(30);
      position: relative;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      &:not(:last-child){
        margin-bottom: vw(80);
      }
      &:nth-child(-n+9):before {
        content: "0" counter(article);
      }
      &:before {
        content: counter(article);
        counter-increment: article;
        color: #fff;
        font-size: vw(140);
        line-height: 1;
        font-family: 'YuMincho', serif;
        color: #fff;
        font-weight: bold;
        position: absolute;
        top: vw(-60);
        right: vw(-20);
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      }
      &:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.7);
        &:before {
          color: #004789;
        }
        h3 {
          color: #004789;
        }
        p {
          color: #000;
        }
      }
      h3 {
        font-size: vw(40);
        line-height: 1.5;
        color: #fff;
        font-family: 'YuMincho', serif;
        margin-bottom: vw(30);
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
      }
      &.active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .st_production {
    padding: vw(120) 0 vw(40);
    position: relative;
    article {
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
      padding: vw(40);
      z-index: 9;
      opacity: 0;
      margin-top: vw(100);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      h3 {
        font-size: vw(40);
        line-height: 1.5;
        color: #004789;
        font-family: 'YuMincho', serif;
        margin-bottom: vw(30);
      }
      p {
        font-size: 16px;
        line-height: 1.5;
      }
      figure {
        margin-top: vw(30);
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
        img{
          width: 100%;
          height: auto;
        }
      }
      &.active {
        opacity: 1;
        margin-top: 0;
        figure {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .st_vision_01 {
    padding: vw(60) 0 vw(40);
    overflow: hidden;
    .wrap {
      position: relative;
      height: 100%;
    }
    h2 {
      font-size: vw(100);
      font-family: 'YuMincho', serif;
      color: #fff;
      line-height: 1;
      position: absolute;
      margin-top: vw(-85);
      top: 50%;
      left: vw(-100);
      z-index: -1;
      opacity: 0;
      transform: translateY(-50%);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      &.active {
        opacity: 1;
        left: vw(30);
      }
    }
    article {
      text-align: center;
      width: vw(500);
      height: vw(500);
      padding-top: vw(95);
      margin: 0 auto vw(100);
      opacity: 0;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      &:after {
        content: "";
        width: vw(376);
        height: vw(376);
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: -1;
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
      }
      span {
        font-size: 16px;
        line-height: 1;
        color: #fff;
        background-color: #004789;
        padding: vw(10) vw(30);
        display: inline-block;
        margin-bottom: vw(30);
      }
      h3 {
        font-size: vw(40);
        color: #444444;
        line-height: vw(75);
        display: block;
        font-style: normal;
        font-weight: bold;
        font-family: 'YuMincho', serif;
      }
      &.active {
        opacity: 1;
        margin: 0 auto 0;
      }
    }
  }

  .st_vision_02 {
    padding: vw(60) 0 vw(40);
    overflow: hidden;
    .wrap {
      position: relative;
      height: 100%;
    }
    h2 {
      font-size: vw(100);
      font-family: 'YuMincho', serif;
      color: #fff;
      line-height: 1;
      position: absolute;
      margin-top: vw(-85);
      top: 50%;
      right: vw(-100);
      z-index: -1;
      opacity: 0;
      transform: translateY(-50%);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      &.active {
        opacity: 1;
        right: vw(30);
      }
    }
    article {
      text-align: center;
      width: vw(500);
      height: vw(500);
      padding-top: vw(95);
      margin: 0 auto vw(100);
      opacity: 0;
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      &:after {
        content: "";
        width: vw(376);
        height: vw(376);
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: -1;
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
      }
      span {
        font-size: 16px;
        line-height: 1;
        color: #fff;
        background-color: #004789;
        padding: vw(10) vw(30);
        display: inline-block;
        margin-bottom: vw(30);
      }
      h3 {
        font-size: vw(40);
        color: #444444;
        line-height: vw(75);
        display: block;
        font-style: normal;
        font-weight: bold;
        font-family: 'YuMincho', serif;
      }
      &.active {
        opacity: 1;
        margin: 0 auto 0;
      }
    }
  }

  .st_vision_03 {
    padding: vw(60) 0 vw(40);
    overflow: hidden;
    .wrap {
      position: relative;
      height: 100%;
    }
    h2 {
      font-size: vw(100);
      font-family: 'YuMincho', serif;
      color: #fff;
      line-height: 1;
      position: absolute;
      margin-top: vw(-150);
      top: 50%;
      left: vw(-100);
      z-index: -1;
      opacity: 0;
      transform: translateY(-50%);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      &.active {
        opacity: 1;
        left: vw(30);
      }
    }
    article {
      text-align: center;
      width: 100%;
      height: vw(700);
      padding-top: vw(130);
      opacity: 0;
      margin-bottom: vw(100);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
      &:after {
        content: "";
        width: vw(500);
        height: vw(500);
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: -1;
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
      }
      span {
        font-size: 16px;
        line-height: 1;
        color: #fff;
        background-color: #004789;
        padding: vw(10) vw(30);
        display: inline-block;
        margin-bottom: vw(10);
      }
      figure {
        opacity: 0;
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 1s;
        transform: translate3d(0, -50px, 0);
        margin-bottom: vw(10);
        img {
          width: 320px;
          height: auto;
        }
      }
      h3 {
        font-size: vw(40);
        color: #444444;
        line-height: vw(60);
        display: block;
        font-style: normal;
        font-weight: bold;
        font-family: 'YuMincho', serif;
      }
      &.active {
        opacity: 1;
        margin-bottom: 0;
        figure {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .st_what {
    overflow: hidden;
    .wrap {
      position: relative;
    }
    .bx_multi {
      background-color: rgba(0, 71, 137, 0.70);
      padding: vw(40);
      margin-top: vw(40);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      &.active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        .bx_multi_item {
          &:after {
            opacity: 1;
            margin-top: vw(110);
          }
          h3 {
            opacity: 1;
            margin-top: vw(105);
          }
          figure {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        margin: 0 0 vw(40) 0;
      }
      &_item {
        &:after {
          content: "";
          background: url(/scene_05/images/t_sp.png) no-repeat;
          background-size: contain;
          height: vw(136);
          width: vw(35);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin: 0 0 0 0;
          z-index: 0;
          opacity: 0;
          transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
        }
        h3 {
          font-size: vw(40);
          line-height: 1;
          font-family: 'YuMincho', serif;
          color: #004789;
          padding: vw(28) 0;
          width: 95%;
          background-color: rgba(255, 255, 255, 0.85);
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-top: 0;
          /* margin-top: vw(105);*/
          z-index: 1;
          opacity: 0;
          transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 1s;
        }
        figure {
          text-align: center;
          width: 100%;
          opacity: 0;
          transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
          transform: translate3d(0, -50px, 0);
          > img {
            width: vw(217);
            height: vw(330);
          }
          &:first-of-type {
            transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
            margin-bottom: vw(300);
            img {
              width: vw(331);
              height: vw(329);
            }
          }
          figcaption {
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            width: vw(350);
            background-color: rgb(255, 255, 255);
            padding: vw(12) 0;
            margin: 0 auto vw(31);
            img {
              max-width: 90%;
              width: auto;
              height: auto;
            }
            span {
              display: block;
              font-size: rem(24);
              color: #004789;
            }
          }
        }
      }
    }
  }
  .st_what_2 {
    .wrap {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      padding-top: vw(60);
      article {
        width: 100%;
        background: rgba(#003261,0.7);
        box-shadow: 0 #{vw(20)} #{vw(20)} 0 rgba(#000,0.4);
        padding: vw(70) vw(20) vw(60) vw(20);
        color: #fff;
        font-family: 'YuMincho', serif;
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
        &:not(:nth-of-type(-n+1)) {
          margin-top: vw(60);
        }
        &:nth-child(odd) {
          opacity: 0;
          transform: translate3d(-50px,0,0);
        }
        &:nth-child(even) {
          opacity: 0;
          transform: translate3d(50px,0,0);
        }
        &.active {
          opacity: 1;
          transform: translate3d(0,0,0);
        }
        h3 {
          text-align: center;
          font-size: vw(52);
          line-height: 1;
          font-weight: bold;
        }
        em {
          font-style: normal;
          display: block;
          font-size: vw(30);
          line-height: 1.5;
          margin-top: vw(30);
          text-align: center;
        }
        p {
          font-size: vw(30);
          line-height: 1.5;
          margin-top: vw(30);
          font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        }
      }
    }
  }
  .scene_06 {
    .wrap_section {
      counter-reset: article;
      section {
        &:nth-child(odd) {
          article {
            .main_art {
              background-color: rgba(0, 50, 97, 0.7);
            }
          }
        }
        &:nth-child(even) {
          article {
            .main_art {
              background-color: rgba(255, 255, 255, 0.85);
              p {
                color: #444444;
              }
            }
          }
        }
      }
    }
  }

  .gr_ttl {
    padding-top: vw(100);
    .row {
      position: relative;
    }
    .ttl {
      display: flex;
      justify-content: center;
      h2 {
        overflow: hidden;
        text-align: center;
        padding: vw(25) 0;
        font-family: 'YuMincho', serif;
        color: #004789;
        position: relative;
        z-index: 1;
        width: 100%;
        transform: skew(-20deg);
        margin: 0;
        span {
          display: block;
          font-size: vw(40);
          line-height: 1;
          opacity: 0;
          transform: skew(20deg) translate3d(0, 50px, 0);
          transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
        }
        &:before {
          content: "";
          width: 100%;
          height: 100%;
          // background-color: rgba(255, 255, 255, 0.85);
          background-color: rgba(0,50,97,0.7);
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          z-index: -2;
          transform: translateX(-100%);
          transition: all 0.5s ease-in-out 0.3s;
          opacity: 0;
        }
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.85);
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          z-index: -1;
          transform: translateX(100%);
          transition: all 0.5s ease-in-out 0.6s;
          opacity: 0;
        }
        &.active {
          span {
            opacity: 1;
            transform: skew(20deg) translate3d(0, 0, 0);
          }
          &:after,&::before {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }

  .st_conduct_top {
    .bx_top {
      margin-top: vw(120);
      position: relative;
      &.active {
        h3 {
          opacity: 1;
          transform: translate3d(-50%, 0, 0);
        }
        .bx_top_m {
          &::after {
            height: 100%;
            width: 100%;
          }
          p {
            opacity: 1;

          }
        }
      }
      h3 {
        background-color: rgba(255, 255, 255, 0.85);
        width: vw(650);
        height: vw(100);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: vw(-50);
        left: 50%;
        z-index: 1;
        opacity: 0;
        transform: translate3d(-50%, -50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
        img{
          width: vw(541);
          height: vw(63);
        }
      }
      &_m {
        padding: vw(100) vw(40) vw(60);
        opacity: 1;
        width: 100%;
        margin: 0 auto;
        p {
          font-size: 16px;
          line-height: 1.5;
          color: #fff;
          opacity: 0;
          transition: opacity 1s cubic-bezier(0.4, 0.1, 0.7, 1) 1s;
          +p {
            margin-top: vw(30);
          }
        }
        &::after {
          position: absolute;
          content: "";
          width: 1px;
          height: 0;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(0, 50, 97, 0.7);
          z-index: -1;
          transition: height 0.5s ease,width 0.5s ease 0.5s;
        }
      }
    }
  }

  .st_conduct_01 {
    position: relative;
    overflow: hidden;
    article {
      margin-top: vw(80);
      &:nth-child(-n+9):before {
        content: "0" counter(article);
      }
      &:before {
        content: counter(article);
        counter-increment: article;
        font-size: vw(100);
        line-height: 1;
        font-family: 'YuMincho', serif;
        color: #004789;
        font-weight: bold;
        position: absolute;
        top: 140px;
        right: 100px;
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      }
      h3 {
        font-size: 36px;
        color: #fff;
        line-height: 1.5;
        display: block;
        font-weight: bold;
        font-family: 'YuMincho', serif;
        width: 100%;
        text-align: right;
        text-decoration: underline;
        text-shadow: 0 0 5px #004789;
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      }
      .main_art {
        margin-top: vw(120);
        padding: vw(40);
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
        p {
          font-size: 16px;
          line-height: 1.5;
          color: #fff;
          +p {
            margin-top: vw(30);
          }
        }
      }
      &.active {
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        h3 {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        .main_art {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .st_conduct_02 {
    position: relative;
    overflow: hidden;
    article {
      margin-top: vw(80);
      &:nth-child(-n+9):before {
        content: "0" counter(article);
      }
      &:before {
        content: counter(article);
        counter-increment: article;
        font-size: vw(100);
        line-height: 1;
        font-family: 'YuMincho', serif;
        color: #004789;
        font-weight: bold;
        position: absolute;
        top: 200px;
        right: 100px;
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      }
      h3 {
        font-size: 36px;
        color: #fff;
        line-height: 1.5;
        display: block;
        font-weight: bold;
        font-family: 'YuMincho', serif;
        width: 100%;
        text-align: right;
        text-decoration: underline;
        text-shadow: 0 0 5px #004789;
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      }
      .main_art {
        margin-top: vw(120);
        padding: vw(40);
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
        p {
          font-size: 16px;
          line-height: 1.5;
          color: #fff;
          +p {
            margin-top: vw(30);
          }
        }
      }
      &.active {
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        h3 {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        .main_art {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .st_conduct_03 {
    position: relative;
    overflow: hidden;
    article {
      margin-top: vw(80);
      &:nth-child(-n+9):before {
        content: "0" counter(article);
      }
      &:before {
        content: counter(article);
        counter-increment: article;
        font-size: vw(100);
        line-height: 1;
        font-family: 'YuMincho', serif;
        color: #004789;
        font-weight: bold;
        position: absolute;
        top: 200px;
        right: 100px;
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      }
      h3 {
        font-size: 36px;
        color: #fff;
        line-height: 1.5;
        display: block;
        font-weight: bold;
        font-family: 'YuMincho', serif;
        width: 100%;
        text-align: right;
        text-decoration: underline;
        text-shadow: 0 0 5px #004789;
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      }
      .main_art {
        margin-top: vw(120);
        padding: vw(40);
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
        p {
          font-size: 16px;
          line-height: 1.5;
          color: #fff;
          +p {
            margin-top: vw(30);
          }
        }
      }
      &.active {
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        h3 {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        .main_art {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .st_conduct_04 {
    position: relative;
    overflow: hidden;
    article {
      margin-top: vw(80);
      &:nth-child(-n+9):before {
        content: "0" counter(article);
      }
      &:before {
        content: counter(article);
        counter-increment: article;
        font-size: vw(100);
        line-height: 1;
        font-family: 'YuMincho', serif;
        color: #004789;
        font-weight: bold;
        position: absolute;
        top: 140px;
        right: 100px;
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      }
      h3 {
        font-size: 36px;
        color: #fff;
        line-height: 1.5;
        display: block;
        font-weight: bold;
        font-family: 'YuMincho', serif;
        width: 100%;
        text-align: right;
        text-decoration: underline;
        text-shadow: 0 0 5px #004789;
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      }
      .main_art {
        margin-top: vw(120);
        padding: vw(40);
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
        p {
          font-size: 16px;
          line-height: 1.5;
          color: #fff;
          +p {
            margin-top: vw(30);
          }
        }
      }
      &.active {
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        h3 {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        .main_art {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .st_conduct_05 {
    position: relative;
    overflow: hidden;
    article {
      margin-top: vw(80);
      &:nth-child(-n+9):before {
        content: "0" counter(article);
      }
      &:before {
        content: counter(article);
        counter-increment: article;
        font-size: vw(100);
        line-height: 1;
        font-family: 'YuMincho', serif;
        color: #004789;
        font-weight: bold;
        position: absolute;
        top: 200px;
        right: 100px;
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      }
      h3 {
        font-size: 36px;
        color: #fff;
        line-height: 1.5;
        display: block;
        font-weight: bold;
        font-family: 'YuMincho', serif;
        width: 100%;
        text-align: right;
        text-decoration: underline;
        text-shadow: 0 0 5px #004789;
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
      }
      .main_art {
        margin-top: vw(120);
        padding: vw(40);
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.8s;
        p {
          font-size: 16px;
          line-height: 1.5;
          color: #fff;
          +p {
            margin-top: vw(30);
          }
        }
      }
      &.active {
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        h3 {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        .main_art {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .st_sologan {
    overflow: hidden;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .gr_ttl {
      width: 100%;
      .ttl {
        h2 {
          width: 100%;
        }
      }
    }
    .wrap {
      position: relative;
      h2 {
        font-size: vw(60);
        font-family: 'YuMincho', serif;
        line-height: 1;
        color: #fff;
        position: relative;
        text-shadow: 0 0 5px #004789;
        margin-top: vw(100);
        text-align: center;
        height: vw(150);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transform: translate3d(0, -50px, 0);
        transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
        &:after {
          content: "SLOGAN";
          font-size: vw(160);
          position: absolute;
          top: 0;
          left: 50%;
          color: #fff;
          opacity: 0;
          transform: translate3d(-50%, 70px, 0);
          transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
        }
        &.active {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          &:after {
            opacity: 0.4;
            transform: translate3d(-50%, 0, 0);
          }
        }
      }
    }
    &_ex {
      margin-top: vw(100);
      width: calc(100% + #{vw(30)});
      padding: 0 50px;
      a {
        width: 100%;
        background: rgba(#003261,0.7);
        box-shadow: 0 #{vw(20)} #{vw(20)} 0 rgba(#000,0.4);
        padding: vw(30) 0;
        color: #fff;
        display: block;
        opacity: 0;
        transform: translate3d(0,50px,0);
        &:nth-of-type(1) {
          transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1);
        }
        &:nth-of-type(2) {
          margin-top: vw(30);
          transition: all 1s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s ;
        }
        &.active {
          opacity: 1;
          transform: translate3d(0,0,0);
        }
        * {
          display: block;
          text-align: center;
        }
        em {
          font-style: normal;
          font-size: vw(40);
          line-height: 1;
          font-weight: bold;
          font-family: 'YuMincho', serif;
        }
        span {
          font-size: vw(30);
          line-height: 1.5;
          margin-top: vw(10);
        }
      }
    }
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .st_consulting {
    &.half {
      margin: 300px 0 0;
      + .st_consulting {
        margin: 50px 0 0;
      }
    }
  }
  .st_sologan_ex {
    margin-top: 20px;
  }
}