@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
/* section {
  width: 100%;
  height: 100vh;
  position: relative;
} */

.gr_ttl {
  padding-top: vw(100);
  .row {
    position: relative;
  }
  .ttl {
    display: flex;
    justify-content: center;
    h2 {
      overflow: hidden;
      text-align: center;
      padding: vw(25) 0;
      font-family: 'YuMincho', serif;
      color: #004789;
      position: relative;
      z-index: 1;
      width: 100%;
      transform: skew(-20deg);
      margin: 0;
      span {
        display: block;
        font-size: vw(40);
        line-height: 1;
        opacity: 0;
        transform: skew(20deg) translate3d(0, 50px, 0);
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      }
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out 0.3s;
        opacity: 0;
      }
      &.active {
        span {
          opacity: 1;
          transform: skew(20deg) translate3d(0, 0, 0);
        }
        &:after {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

.wrap_section {
  counter-reset: article;
}

.st_new_01 {
  .inner {
    margin: vw(100) 0 0 0;
  }
  article {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.4);
    padding: vw(40) vw(30);
    height: 100%;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    position: relative;
    &:not(:last-child){
      margin-bottom: vw(80);
    }
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      color: #fff;
      font-size: vw(140);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: vw(-60);
      right: vw(-20);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    &:nth-child(odd) {
      background-color: rgba(0, 50, 97, 0.7);
      &:before {
        color: #fff;
      }
      h3 {
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
    h3 {
      font-size: vw(40);
      line-height: 1.5;
      color: #004789;
      font-family: 'YuMincho', serif;
      margin-bottom: vw(30);
    }
    p {
      font-size: vw(24);
      line-height: 1.5;
      color: #000;
    }
    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_new_02 {
  .inner {
    margin: vw(80) 0 0 0;
  }
  article {
    height: 100%;
    background-color: rgba(0, 50, 97, 0.7);
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.4);
    padding: vw(40) vw(30);
    position: relative;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &:not(:last-child){
      margin-bottom: vw(80);
    }
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      color: #fff;
      font-size: vw(140);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #fff;
      font-weight: bold;
      position: absolute;
      top: vw(-60);
      right: vw(-20);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    &:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.7);
      &:before {
        color: #004789;
      }
      h3 {
        color: #004789;
      }
      p {
        color: #000;
      }
    }
    h3 {
      font-size: vw(40);
      line-height: 1.5;
      color: #fff;
      font-family: 'YuMincho', serif;
      margin-bottom: vw(30);
    }
    p {
      font-size: vw(24);
      line-height: 1.5;
      color: #fff;
    }
    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_production {
  padding: vw(100) 0 vw(40);
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    padding: vw(40);
    z-index: 9;
    opacity: 0;
    margin-top: vw(100);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    h3 {
      font-size: vw(40);
      line-height: 1.5;
      color: #004789;
      font-family: 'YuMincho', serif;
      margin-bottom: vw(30);
    }
    p {
      font-size: vw(24);
      line-height: 1.5;
    }
    figure {
      margin-top: vw(30);
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
      img{
        width: 100%;
        height: auto;
      }
    }
    &.active {
      opacity: 1;
      margin-top: 0;
      figure {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.bx_air {
  .row {
    position: relative;
  }
  figure {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    -webkit-animation-name: fuwafuwa;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: fuwafuwa;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease;
  }
}

@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes fuwafuwa {
  0% {
    -moz-transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(0, -10px);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}