@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.gr_ttl {
  padding-top: 142px;
  .row {
    position: relative;
  }
  .ttl {
    display: flex;
    justify-content: center;
    h2 {
      overflow: hidden;
      text-align: center;
      padding: 26px 0 27px;
      font-family: 'YuMincho', serif;
      color: #004789;
      position: relative;
      z-index: 1;
      width: 956px;
      transform: skew(-20deg);
      margin: 0;
      span {
        display: block;
        font-size: rem(36);
        line-height: 1;
        opacity: 0;
        transform: skew(20deg) translate3d(0, 50px, 0);
        transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1);
      }
      &:after {
        content: "";
        width: 956px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.85);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out 0.3s;
        opacity: 0;
      }
      &.active {
        span {
          opacity: 1;
          transform: skew(20deg) translate3d(0, 0, 0);
        }
        &:after {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

.wrap_section {
  counter-reset: article;
}

.st_new_01 {
  .inner {
    display: flex;
    flex-flow: row wrap;
    margin: 136px 0 0 -20px;
  }
  article {
    width: calc(33.33% - 20px);
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.4);
    padding: 64px 30px;
    height: 100%;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    position: relative;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      color: #fff;
      font-size: rem(134);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #004789;
      font-weight: bold;
      position: absolute;
      top: -60px;
      right: -30px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    &:nth-child(odd) {
      background-color: rgba(0, 50, 97, 0.7);
      &:before {
        color: #fff;
      }
      h3 {
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
    &:nth-of-type(2) {
      margin-top: 180px;
    }
    &:nth-of-type(3) {
      margin-top: 360px;
    }
    h3 {
      font-size: rem(30);
      line-height: 1.5;
      color: #004789;
      font-family: 'YuMincho', serif;
      margin-bottom: 25px;
    }
    p {
      font-size: rem(14);
      line-height: 1.8;
      color: #000;
    }
    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_new_02 {
  .inner {
    display: flex;
    flex-flow: row wrap;
    margin: 136px 0 0 -20px;
  }
  article {
    width: calc(33.33% - 20px);
    margin-left: 20px;
    height: 100%;
    background-color: rgba(0, 50, 97, 0.7);
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.4);
    padding: 64px 30px;
    position: relative;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    &:nth-child(-n+9):before {
      content: "0" counter(article);
    }
    &:before {
      content: counter(article);
      counter-increment: article;
      color: #fff;
      font-size: rem(134);
      line-height: 1;
      font-family: 'YuMincho', serif;
      color: #fff;
      font-weight: bold;
      position: absolute;
      top: -60px;
      right: -30px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    }
    &:nth-of-type(2) {
      margin-top: 180px;
    }
    &:nth-of-type(3) {
      margin-top: 360px;
    }
    &:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.7);
      &:before {
        color: #004789;
      }
      h3 {
        color: #004789;
      }
      p {
        color: #000;
      }
    }
    h3 {
      font-size: rem(30);
      line-height: 1.5;
      color: #fff;
      font-family: 'YuMincho', serif;
      margin-bottom: 25px;
    }
    p {
      font-size: rem(14);
      line-height: 1.8;
      color: #fff;
    }
    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.st_production {
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 79px 58px 52px 59px;
    z-index: 9;
    width: 622px;
    opacity: 0;
    margin-top: 100px;
    transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.3s;
    h3 {
      font-size: rem(36);
      line-height: 29px;
      color: #004789;
      font-family: 'YuMincho', serif;
      margin-bottom: 35px;
    }
    p {
      font-size: rem(14);
      line-height: 1.5;
    }
    figure {
      margin-top: 30px;
      opacity: 0;
      transform: translate3d(0, 50px, 0);
      transition: all 1.0s cubic-bezier(0.4, 0.1, 0.7, 1) 0.5s;
    }
    &.active {
      opacity: 1;
      margin-top: 0;
      figure {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.bx_air {
  .row {
    position: relative;
  }
  figure {
    position: absolute;
    top: 0;
    right: -100px;
    -webkit-animation-name: fuwafuwa;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: fuwafuwa;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease;
  }
}

@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes fuwafuwa {
  0% {
    -moz-transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(0, -10px);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}