@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
section {
  width: 100%;
  height: 100vh;
  .row {
    position: relative;
    height: 100%;
  }
}

.st_studio {
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 108px;
    right: 0;
    padding: 84px 54px 70px 59px;
    z-index: 9;
    width: 565px;
    h3 {
      font-size: rem(36);
      line-height: 29px;
      font-family: 'YuMincho', serif;
      color: #004789;
      margin-bottom: 28px;
    }
    p {
      font-size: rem(14);
      line-height: 1.8;
      +p {
        margin-top: 23px;
      }
    }
    figure {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 10;
      margin-top: 26px;
    }
  }
}

.st_consulting {
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: 470px;
    &:nth-of-type(1) {
      left: 0;
      padding: 69px 70px 52px 59px;
    }
    &:nth-of-type(2) {
      right: 0;
      padding: 70px 57px 51px 49px;
    }
    h3 {
      font-size: rem(36);
      line-height: 29px;
      font-family: 'YuMincho', serif;
      color: #004789;
      margin-bottom: 28px;
    }
    p {
      font-size: rem(14);
      line-height: 1.8;
      +p {
        margin-top: 23px;
      }
    }
  }
}

.bx_bird {
  .row {
    position: relative;
  }
  figure {
    position: absolute;
    z-index: 1;
    &:nth-of-type(1) {
      top: 407px;
      left: -49px;
    }
  }
}