@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_studio {
  padding: vw(40) 0;
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    padding: vw(40);
    z-index: 9;
    h3 {
      font-size: vw(40);
      line-height: 1.5;
      font-family: 'YuMincho', serif;
      color: #004789;
      margin-bottom: vw(30);
    }
    p {
      font-size: vw(24);
      line-height: 1.5;
      +p {
        margin-top: vw(30);
      }
    }
    figure {
      margin-top: vw(40);
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

.st_consulting {
  article {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    padding: vw(40);
    &:not(:last-child){
      margin-bottom: vw(40);
    }
    h3 {
      font-size: vw(40);
      line-height: 1.5;
      font-family: 'YuMincho', serif;
      color: #004789;
      margin-bottom: vw(30);
    }
    p {
      font-size: vw(24);
      line-height: 1.5;
      +p {
        margin-top: vw(30);
      }
    }
  }
}

.bx_bird {
  .row {
    position: relative;
  }
  figure {
    position: absolute;
    z-index: -1;
    img{
      width: 100%;
      height: auto;
    }
    &:nth-of-type(1) {
      top: vw(407);
      left: vw(-49);
    }
  }
}